@charset "UTF-8";

#popPlan {
    .pop_title.C {
        color: $c-red;

        span {
            color: $dark
        }
    }

    .pop_contents {
        @include set-font(15px, #555);
        padding: {
            left: 12px;
            right: 12px
        };
    }

    .plan {
        h5 {
            & + ul {
                margin-top: 10px;
            }
        }
    }
}
