@charset "UTF-8";

#popCompanion {
    $h-bottom-fix: 112px;


    .pop_title {
        position: relative;
        a {
            position: absolute;
            color: #777;
            font-size: 14px;
            right: 0;
            top: 20px;
            font-weight: 400;
        }
    }
    .pop_wrap {
        padding-bottom: $h-bottom-fix;
    }

    .pop_body {
        @include set-font(14px, $dark);
        max-height: calc(100vh - 120px - #{$h-bottom-fix} - 59px); // 59: pop_title height
    }

    td {
        text-align: center;

        &.t__left {
            padding-left: 10px;

            @include media(ss) {
                padding-left: 6px;
            }

            @include media(sss) {
                padding-left: 4px;
            }
        }

        .t__right {
            display: inline-block;
            width: 55px;

            @include media(sss) {
                width: 50px
            }
        }
    }

    .pop_contents {
        padding-bottom: 0;
    }

    .refund {
        td {
            color: #b6b6b6;

            &:last-child {
                color: #999
            }
        }
    }

    .summary {
        @include set-font(15px, $dark);
        height: calc(#{$h-bottom-fix} - 65px);
        padding-top: 5px;
        text-align: center;
    }

    .bar {
        display: inline-block;
        position: relative;
        top: 4px;
        width: 1px;
        height: 15px;
        margin: 0 12px 0 8px;
        background: $c-border-default;
        vertical-align: top;

        @include media(sss) {
            margin: 0 8px 0 4px;
        }
    }
}


