@charset "UTF-8";

.mi_common_pop {
    .icon_box {
        .t__lg {
            font-size: 18px;
        }

        .sub {
            @include set-font(14px, #777);
            margin-top: 9px;
        }
    }

    .bg_box {
        margin: 20px 20px 0;
        padding: 20px;
        background: $c-bg-box;
        color: $dark;
        line-height: 26px;

        b {
            display: inline-block;
            margin-bottom: 8px;
            color: $c-point;
        }
    }

    .bullet_list {
        padding: 0 10px;
    }

    .pop_noti {
        @include set-font(14px, #777);
        padding: 12px;
        background: $c-bg-box;
    }

    .mi_table {
        td {
            @include media(sss) {
                font-size: 13px;
            }
        }

        .mi_btn.sm {
            padding: 0 7px
        }
    }
}

#popGuide {
    .pop_body {
        padding: 0 20px;
    }

    .ol_count {
        li {
            &:before {
                color: $c-point;
            }

            & + li {
                margin-top: 15px;
            }

            p {
                margin-top: 10px;
            }
        }
    }
}

#popChangeCountry {
    .pop_contents {
        padding: 10px 0 25px;
    }

    .input_group {
        padding: 30px 10px 0;
    }

    .input_label {
        color: #777
    }
}

#popChangeEmail {
    .pop_contents {
        padding: 30px 10px 25px
    }

    .input_connect {
        flex-basis: 30px;
        font-size: 15px;
    }
}

#popPeriod {
    .mi_table {
        th:first-child {
            padding-left: 15px;
            text-align: left;
        }

        td {
            &:first-child {
                padding-left: 15px;
            }

            &:not(:first-child) {
                text-align: center;
            }
        }
    }
}

#popExtendDatepicker {
    .ui-datepicker {
        .ui-datepicker-prev {
            background-position: left center;
        }

        .ui-datepicker-next {
            background-position: right center;
        }

        .ui-datepicker-calendar {
            width: 100%;
        }
    }

    .pop_bottom {
        padding: 18px;
    }

    .pop_body {
        padding-bottom: 71px;
        padding-left: 18px;
        padding-right: 18px;

        .pop_contents {
            padding-bottom: 10px;
        }
    }

    .select_wrap {
        margin-top: 25px;
    }
}

#popCoupon {
    .btn_close {
        z-index: 12;
    }
}

#popCovidCancel {
    .btn_close {
        top: 6px;
        right: 6px
    }

    .pop_contents {
        padding: {
            left: 10px;
            right: 10px
        }
        font-size: 15px;
        line-height: 1.7;
    }
}

#popCouponGuideTR,
#popCouponGuideGF {
    .pop_contents {
        padding: 30px 10px 20px
    }

    li {
        color: #555;
        line-height: 1.5;

        &:before {
            font-weight: bold;
        }

        & + li {
            margin-top: 10px;
        }

        strong {
            color: $c-point;
        }
    }
}

#popCouponGuideGF {
    li {
        strong {
            color: $c-golf
        }
    }

    .mi_btn {
        background-color: $c-golf;
        border-color: $c-golf;
    }
}

.golf_type {
    .mi_btn {
        &.color {
            background-color: $c-golf;
            border-color: $c-golf;
        }
    }

    .mi_input:focus {
        border-color: $c-golf;
    }

    .icon_box.success {
        &:before {
            background-image: url($img-path-components + 'ico_complete_golf.png')
        }
    }

    .mi_btn {
        background-color: $c-golf;
        border-color: $c-golf;
    }
}

#popClaimPaper {
    .list{
        color: #555;
    }

    .noti_cmt {
        color: #5c8cca;
        background: #F4F7FB;
        text-align: center;
        padding: 20px 0;
        font-size: 13px;
    }

    .c__777 {
        color: #777;
    }

    .common {
        .dep0 {
            margin-top: 0;
        }
    }

    .dep0 {
        color :#1c1c1c;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 12px;
        margin-top: 30px;
    }

    .dep1 {
        padding-left : 10px;
        font-size: 15px;
        & + .dep1 {
            margin-top: 5px;
        }
    }


    .dep2 {
        padding-left : 20px;
        padding-right : 20px;
        font-size: 15px;
        & + .dep2 {
            margin-top: 5px;
        }

        & + .dep1 {
            margin-top: 20px;
        }
    }

    .big {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .noti {
        color: #777;
        font-size: 14px;
        padding-left : 10px;
        padding-right : 20px;
        margin-top: 20px;

        &.dep2{
            padding-left : 20px;
        }

        li {
            padding-left: 15px;
            position: relative;
            &:after{
                content: "*";
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    .check_area {
        text-align: right;
        margin-bottom: 10px;
        .text {
            font-size: 13px;
            margin-right: 8px;
        }
    }

    .pop_wrap {
        padding-bottom: 101px;
        & > .pop_title + .pop_body {
            max-height: calc( 100vh - 120px - 65px - 59px - 36px )
        }
    }

    $h-pop_title: 75px;
    $h-pop_bottom: 85px;

    @at-root .mobile & {
        $h-half_tab: $h-header-tab * 2;
        .pop_wrap {
            padding-bottom: 121px;
        }
        .pop_title ~ .pop_body {
            max-height: calc(95vh - #{$h-header-title + $h-half_tab + $h-pop_bottom + 40 });
        }
    }

    @at-root .app & {
        $h-half_tab: $h-header-tab * 1.2;
        .pop_wrap {
            padding-bottom: 151px;
        }

        .pop_title ~ .pop_body {
            max-height: calc(95vh - #{$h-header-title + $h-half_tab + $h-pop_bottom + 40 });
        }
    }
}

#popFileUpload {
    input[type=file] {
        display: none;
    }
    .no_list {
        text-align: center;
        padding: 18px 0 32px 0;
    }
    .noti {
        color: #5c8cca;
        font-size: 13px;
    }
    .btn_more {
        width: 64px;
        height: 64px;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        background: #d3e1f4;
        cursor: pointer;

        &::after{
            content: "";
            width: 4px;
            height: 20px;
            position: absolute;
            background: #fff;
            border-radius: 10px;
            top: calc( 50% - 10px );
            left: calc( 50% - 2px );
        }
        &::before{
            content: "";
            width: 20px;
            height: 4px;
            position: absolute;
            background: #fff;
            border-radius: 10px;
            top: calc( 50% - 2px );
            left: calc( 50% - 10px );
        }
    }

    .img_area {
        overflow: hidden;
        padding-top: 5px;
        & > div {
            width: 25%;
            float: left;
            height: 90px;
            text-align: center;
            margin-bottom: 25px;
        }

        .img_item {
            position: relative;
            width: 74px;
            margin: 0 auto;
        }

        .btn_delete_img {
            width: 26px;
            height: 26px;
            position: absolute;
            right: -5px;
            top: -5px;
            border-radius: 50%;
            background: url($img-path + "ico_file_delete.png") no-repeat center / 10px ,#999999;
        }

        .more_wrap {
            padding-top: 13px;
        }

        .img_wrap {
            width: 74px;
            height: 84px;
            background: #eeeeee;
            border: 1px solid #dddddd;
            overflow: hidden;
            img {
                &.wd {
                    width: auto;
                    height: 100%;
                }

                &.he {
                    width: 100%;
                    height: auto
                }
            }
        }
    }
}

#popClaimPaperSubmit{
    @at-root .mobile & {
        .pop_contents {
            padding-top: 0;
        }
    }

    .file_list {
        & + .file_list {
            margin-top: 24px;
        }
        & > p {
            color: #1c1c1c;
            margin-bottom: 12px;
        }
        ul {
            padding-left: 10px;
        }
        li {
            position: relative;
            padding-left: 29px;

            &::after{
                content: '';
                position: absolute;
                left: 0;
                top: 5px;
                width: 17px;
                height: 16px;
                background: url($img-path + 'ico_file2.png') no-repeat center / contain;
            }

            &.done::after{
                background: url($img-path + 'ico_file_done2.png') no-repeat center / contain;
            }

            & + li {
                margin-top: 8px;
            }
        }
    }
}

#popClaimOther {
    .select_user {
        padding: 10px 0 0 0;

        .mi_check + .mi_check {
            margin-left: 40px;
        }
    }

    .other_info {
        margin-top: 24px;
        padding-top: 30px;
        border-top: 1px solid #dddddd;
        padding-left: 10px;
        padding-right: 6px;
    }

}
