<!DOCTYPE html>
<html>
<head>
    @@include('common/head.html')
</head>

<body>
<div id="gnb"></div>
@@include('common/lnb.html')

<div class="wrap">
    <div id="container" class="ct_page_name">
        @@include('common/header.html', { tab1: 'active' })

        <div id="contents">
            @@include('common/contents_step.html', { step: 'step1' })

            <button type="button" class="mi_btn white sm btn_guide" data-insu="TR">사용방법</button>
            <button type="button" class="mi_btn white sm btn_guide" data-insu="GF">사용방법</button>
        </div>
    </div>
</div>

<div id="footer"></div>

<div class="mi_common_pop datepicker" id="popDatepicker">
    <div class="inner">
        <div class="pop_wrap">
            <h2 class="pop_title">
                여행시작일
                <button type="button" class="btn_close"></button>
            </h2>

            <div class="pop_body">
                <div class="pop_contents">

                    <div id="datepicker"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop select type2" id="popSelect">
    <div class="inner">
        <div class="pop_wrap">
            <h2 class="pop_title">
                <button type="button" class="btn_close"></button>
            </h2>

            <div class="pop_body cs_scroll">
                <div class="pop_contents">
                    @@for (var i = 0; i <= 2; i++) {
                    <div class="check_group list" data-name="radio_list_group">
                        <h3 class="select_title">여행목적</h3>

                        <label class="mi_check">
                            <input type="radio" name="radio_list_group">
                            <span class="text">체험 학습 체험 학습 체험 학습 체험 학습 체험학습 체험학습 체험학습 체험학습 체험학습 체험학습 체험학습 체험학습</span>
                            <i class="ico_check"></i>
                        </label>

                        @@for (var i = 0; i <= 3; i++) {
                        <label class="mi_check">
                            <input type="radio" name="radio_list_group">
                            <span class="text">list</span>
                            <i class="ico_check"></i>
                        </label>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop" id="popGuide">
    <div class="inner">
        <div class="pop_wrap">
            <div class="pop_body">
                <h2 class="pop_title">여러국가 여행시 국가선택</h2>

                <div class="pop_contents">
                    <ol class="ol_count">
                        <li>여러국가 여행시 국가 선택은 <span class="c__point">첫번째 체류할 국가를 선택</span>하시면 됩니다</li>
                        <li>여러국가를 여행하셔도 보험기간 동안은 모두 보장됩니다(단, 여행금지국가 등 3단계 이상의 여행경보지역 제외)</li>
                        <li><span class="t__underline">여행지에 체코, 쿠바가 포함된 경우</span> 여행국가를 <span class="c__red">체코, 쿠바</span>로 선택해주세요</li>
                        <li><span class="t__underline">여러국가에 대한 보험증서가 필요한 경우</span>, 가입시 받게 되는 카카오톡(문자메세지)를 통해 <span class="c__point">직접 국가변경후 보험증서 추가발급이 가능</span>합니다</li>
                    </ol>
                </div>
            </div>

            <div class="pop_bottom">
                <button type="button" class="mi_btn color btn_first">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop basic" id="popCompanion">
    <div class="inner">
        <div class="pop_wrap">
            <h2 class="pop_title">가입자명단 <a class="t__underline">카카오톡발송</a></h2>

            <div class="pop_body">
                <div class="pop_contents">
                    @@include('components/pop_companion_list.html')
                </div>
            </div>

            <div class="pop_bottom shadow_up">
                <div class="summary">총 가입자 : <strong class="totalTravelers">100</strong>명 <i class="bar"></i>총 보험료 : <strong class="totalPremium">9,999,999</strong>원</div>
                <button type="button" class="mi_btn color btn_first">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop basic" id="popPlan">
    <div class="inner">
        <div class="pop_wrap">
            <div class="pop_body cs_scroll">
                <button type="button" class="btn_close"></button>
                <!-- TODO [FE] 든든 + COVID-19플랜의 경우 클래스 C 추가 -->
                <h2 class="pop_title C">든든 + COVID-19<span>플랜</span></h2>

                <div class="pop_contents plan">
                    @@include('components/pop_plan_4re.html')
                </div>
            </div>

            <div class="pop_bottom">
                <button type="button" class="mi_btn color btn_first">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop form" id="popEmail">
    <div class="inner">
        <div class="pop_wrap">
            <h2 class="pop_title">약관발송</h2>
            <button type="button" class="btn_close"></button>

            <div class="pop_body">
                <div class="pop_contents">
                    <div class="input_group">
                        <div class="input_label">이메일</div>

                        <div class="input_box">
                            <div class="f__item">
                                <input type="text" class="mi_input email1">
                            </div>
                            <span class="input_connect">@</span>
                            <div class="f__item">
                                <input type="text" class="mi_input ma_b el_hidden email2">
                                <select class="mi_input select init email2_changer">
                                    <option value="" selected disabled hidden>선택</option>
                                    <option value="naver.com">naver.com</option>
                                    <option value="daum.net">daum.net</option>
                                    <option value="hanmail.net">hanmail.net</option>
                                    <option value="gmail.com">gmail.com</option>
                                    <option value="nate.com">nate.com</option>
                                    <option value="mibank.me">mibank.me</option>
                                    <option value="mibank">직접입력</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pop_bottom">
                <button type="button" class="mi_btn color btn_first" id="btnSendEmail">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop form" id="popPaper">
    <div class="inner">
        <div class="pop_wrap">
            <h2 class="pop_title">보험금청구서류 발송</h2>
            <button type="button" class="btn_close"></button>

            <div class="pop_body">
                <div class="pop_contents">
                    <div class="input_group">
                        <div class="input_label">이메일</div>

                        <div class="input_box">
                            <div class="f__item">
                                <input type="text" class="mi_input email1">
                            </div>
                            <span class="input_connect">@</span>
                            <div class="f__item">
                                <input type="text" class="mi_input ma_b el_hidden email2">
                                <select class="mi_input select init email2_changer">
                                    <option value="" selected disabled hidden>선택</option>
                                    <option value="naver.com">naver.com</option>
                                    <option value="daum.net">daum.net</option>
                                    <option value="hanmail.net">hanmail.net</option>
                                    <option value="gmail.com">gmail.com</option>
                                    <option value="nate.com">nate.com</option>
                                    <option value="mibank.me">mibank.me</option>
                                    <option value="mibank">직접입력</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pop_bottom">
                <button type="button" class="mi_btn color btn_first" id="btnSendPaper">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop basic" id="popChangeEmail">
    <div class="inner">
        <div class="pop_wrap">
            <div class="pop_body">
                <button type="button" class="btn_close"></button>
                <h2 class="pop_title">
                    이메일 변경
                </h2>
                <div class="pop_contents">
                    <div class="email_renew">
                        <div class="input_group">
                            <div class="input_box">
                                <div class="f__item">
                                    <input type="text" class="mi_input " id="emailId" data-label="이메일">
                                </div>
                                <span class="input_connect">@</span>
                                <div class="f__item">
                                    <input type="text" class="mi_input ma_b  el_hidden" id="emailDomain" data-label="이메일">
                                    <select class="mi_input select email2_changer" id="emailSelect">
                                        <option value="naver.com" selected>naver.com</option>
                                        <option value="daum.net">daum.net</option>
                                        <option value="hanmail.net">hanmail.net</option>
                                        <option value="gmail.com">gmail.com</option>
                                        <option value="nate.com">nate.com</option>
                                        <option th:if="${session.suffixUrl == 'xyz'}" value="mibank.me">mibank.me</option>
                                        <option value="mibank">직접입력</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pop_bottom">
                <button type="button" class="mi_btn color" id="btnChgEmail">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop basic" id="popChangeCountry">
    <div class="inner">
        <div class="pop_wrap">
            <div class="pop_body">
                <button type="button" class="btn_close"></button>
                <h2 class="pop_title">국가변경</h2>

                <div class="pop_contents">
                    <p class="pop_noti">
                        여러국가를 여행하시는 경우, <span class="c__point">원하시는 국가로 언제든지 직접 변경 가능</span>하며, 여행국가가 변경된 가입증명서를 이메일로 다시 받으실 수 있습니다
                    </p>

                    <div class="input_group">
                        <label class="input_label">여행국가</label>
                        <div class="input_box">
                            <input class="mi_input select" data-pop="popNation" data-name="nationCd" type="text" placeholder="여행국가" readonly th:value="${detail.nationKor}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="pop_bottom">
                <button type="button" class="mi_btn color" id="btnChgContry">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop" id="popCertificate">
    <div class="inner">
        <div class="pop_wrap">
            <h2 class="pop_title">
                가입증명서 발행
                <button type="button" class="btn_close"></button>
            </h2>

            <div class="pop_body cs_scroll">
                <div class="pop_contents">
                    @@include('components/pop_certificate.html')
                </div>
            </div>

            <!-- TODO [FE] 스크롤 생길 경우 down 클래스 추가 -->
            <div class="pop_bottom down">
                <button type="button" class="mi_btn color" id="btnCertificateEn">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop basic" id="popPeriod">
    <div class="inner">
        <div class="pop_wrap">
            <h2 class="pop_title">보험기간</h2>

            <div class="pop_body">
                <div class="pop_contents">
                    @@include('components/pop_period_list.html')
                </div>
            </div>

            <div class="pop_bottom shadow_up">
                <button type="button" class="mi_btn color btn_first">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop" id="popCovidCancel">
    <div class="inner">
        <div class="pop_wrap">
            <div class="pop_body">
                <button type="button" class="btn_close lg"></button>

                <div class="pop_contents">
                    안녕하세요. 마이뱅크입니다<br><br>
                    9월 3일부터 귀국전 코로나검사의무가 폐지되었습니다<br><br>
                    이에, <strong class="c__point">기존에 COVID-19 격리비/항공료 보장플랜을 가입하셨던 분들을 위해 온라인으로도 문의사항을 해결</strong>할 수 있도록 하고 있으니, 아래 버튼을 눌러주세요<br><br>
                    감사합니다
                </div>
            </div>

            <div class="pop_bottom">
                <a href="" class="mi_btn color">온라인 문의하기</a>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop basic" id="popClaimPeople">
    <div class="inner">
        <div class="pop_wrap">
            <h2 class="pop_title with_close">
                보상청구 대상자 선택 <button type="button" class="btn_close"></button>
            </h2>
            <div class="pop_body">
                <div class="pop_contents cs_scroll">
                    <table class="mi_table">
                        <colgroup>
                            <col style="width: 10%"/>
                            <col style="width: 40%"/>
                            <col style="width: 50%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th></th>
                            <th>이름</th>
                            <th>주민번호</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="t__center">
                                <label class="mi_check">
                                    <input type="radio" name="">
                                    <i class="ico_circle_inner"></i>
                                </label>
                            </td>
                            <td class="t__center">
                                이강인
                            </td>
                            <td>901212-1******</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="pop_bottom">
                <button type="button" class="mi_btn color">확인</button>
            </div>
        </div>
    </div>
</div>


<div class="mi_common_pop basic" id="popClaimOther">
    <div class="inner">
        <div class="pop_wrap">
            <h2 class="pop_title with_close">
                보상청구 대상자 선택 <button type="button" class="btn_close"></button>
            </h2>
            <div class="pop_body">
                <div class="pop_contents">
                    <div class="select_user">
                        <div class="check_group t__center">
                            <label class="mi_check">
                                <input type="radio" value="self" />
                                <i class="ico_circle_inner"></i>
                                <span class="text">본인</span>
                            </label>
                            <label class="mi_check">
                                <input type="radio" value="other"/>
                                <i class="ico_circle_inner"></i>
                                <span class="text">다른 동반가입자</span>
                            </label>
                        </div>
                    </div>

                    <div class="other_info">
                        <div class="input_group">
                            <label class="input_label">이름</label>
                            <div class="input_box">
                                <input class="mi_input" type="text"/>
                            </div>
                        </div>
                        <div class="input_group">
                            <label class="input_label sub">주민번호 <em>(외국인번호)</em></label>
                            <div class="input_box">
                                <input class="mi_input" type="tel"/>
                                <span class="input_connect">-</span>
                                <input class="mi_input" type="tel"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pop_bottom">
                <button type="button" class="mi_btn color">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop bottom" id="popClaimPaper">
    <div class="inner">
        <div class="pop_wrap">
            <h2 class="pop_title with_close">
                아래 서류를 준비하신 후<br> 진행해주세요
                <button class="btn_close"></button>
            </h2>
            <div class="pop_body cs_scroll">
                <div class="pop_contents">
                    <div class="list">
                        <p class="dep0">기본서류</p>
                        <p class="dep1">출입국증명자료</p>
                        <p class="dep1">법정대리인의 신분증</p>
                        <p class="dep1">통장사본</p>
                        <p class="dep1">가족관계증명서</p>

                        <p class="dep0">의료비</p>
                        <p class="dep1 c__point big"><strong>해외병원을 이용</strong>했을 때</p>
                        <p class="dep2">진료비 영수증</p>
                        <p class="dep2">진료내역을 확인할 수 있는 서류</p>
                        <p class="dep2">진료비세부내역서 <span class="c__777">(Payment Details 등)</span></p>
                        <p class="dep2">처방전 <span class="c__777">(약품구입시)</span></p>

                        <p class="dep1  c__point big"><strong>국내병원을 이용</strong>했을 때</p>
                        <p class="dep2">진료비 영수증</p>
                        <p class="dep2">진료비세부내역서</p>
                        <p class="dep2">진단서 또는 입퇴원확인서 (입원시)</p>
                        <p class="dep2">질병분류기호가 기재된 처방전 (통원시)</p>

                        <ul class="noti">
                            <li>진료내역과 진료비용이 제출서류에서 확인되지 않는 경우, 추가증빙서류 요청이 있을 수 있습니다</li>
                            <li>의사의 처방없이 약국에서 구매한 약품은 보상 대상이 아닙니다</li>
                        </ul>

                        <p class="dep0">휴대물품 파손/도난</p>
                        <p class="dep1 c__point big"><strong>도난시</strong></p>
                        <p class="dep2">현지경찰의 Police Report <br><span class="c__777">(인적사항, 사고경위, 도난물품 기재)</span></p>
                        <p class="dep2">피해물품 구입영수증 <br><span class="c__777">(피해물품이 휴대폰인 경우에는 생략)</span></p>

                        <p class="dep1 c__point big"><strong>파손시</strong></p>
                        <p class="dep2">피해물품사진<span class="c__777">(수리시)</span></p>
                        <p class="dep2">수리비 견적서 및 영수증<span class="c__777">(수리시)</span></p>
                        <p class="dep2">수리불가 의견서 및 담당자 명함<span class="c__777">(수리불가시)</span></p>
                        <p class="dep2">피해물품 구입영수증<span class="c__777">(수리불가시)</span></p>

                        <p class="dep1 c__point big"><strong>피해물품이 휴대폰</strong>인 경우 추가서류</p>
                        <p class="dep2">통신사 가입확인서류*</p>

                        <ul class="noti dep2">
                            <li>SKT: 이용계약등록사항 증명서</li>
                            <li>KT: 가입원부증명서</li>
                            <li>LGU+: 가입확인서 또는 해지확인서</li>
                        </ul>

                        <p class="dep0">항공위탁수하물 파손/도난/분실</p>
                        <p class="dep1 c__point big"><strong>분실시</strong></p>
                        <p class="dep2">항공위탁수하물 지연/분실확인서 <br><span class="c__777">(지연사유 및 항공위탁수하물 발송시간 필수 기재)</span></p>

                        <p class="dep1 c__point big"><strong>파손시</strong></p>
                        <p class="dep2">피해물품사진<span class="c__777">(수리시)</span></p>
                        <p class="dep2">수리비 견적서 및 영수증<span class="c__777">(수리시)</span></p>
                        <p class="dep2">수리불가 의견서 및 담당자 명함<span class="c__777">(수리불가시)</span></p>
                        <p class="dep2">피해물품 구입영수증<span class="c__777">(수리불가시)</span></p>

                        <p class="dep0">항공위탁수하물 도착지연</p>
                        <p class="dep1">항공위탁수하물 지연확인서 <br><span class="c__777">(지연사유 및 항공위탁수하물 발송시간 필수 기재)</span></p>
                        <p class="dep1">비행기 티켓</p>
                        <p class="dep1">지연/결항에 따른 비용지출 영수증 <br><span class="c__777">(지출내역 및 시간 표시 필수)</span></p>

                        <p class="dep0">항공기 지연/결항</p>
                        <p class="dep1">지연/결항확인서</p>
                        <p class="dep1">일정 변경전 비행기 티켓</p>
                        <p class="dep1">일정 변경후 비행기 티켓</p>
                        <p class="dep1">지연/결항에 따른 비용지출 영수증 <br><span class="c__777">(지출내역 및 시간 표시)</span></p>

                        <p class="dep0">배상책임</p>
                        <p class="dep1 c__point big"><strong>공통</strong></p>
                        <p class="dep2">주민등록등본</p>
                        <p class="dep2">보험금 수령인의 신분증 및 통장사본</p>
                        <p class="dep2">합의서 및 합의금 지급내역 <br><span class="c__777">(당사자간 합의 완료시)</span></p>

                        <p class="dep1 c__point big">다른 사람의 <strong>재산에 피해</strong>를 입혔을 때</p>
                        <p class="dep2">피해물품사진</p>
                        <p class="dep2">수리비 견적서 및 영수증<span class="c__777">(수리시)</span></p>
                        <p class="dep2">수리불가확인서<span class="c__777">(수리불가시)</span></p>

                        <p class="dep1 c__point big">다른 사람의 <strong>신체에 피해</strong>를 입혔을 때</p>
                        <p class="dep2">진료비영수증</p>
                        <p class="dep2">초진기록지</p>
                        <p class="dep2">진단서 등</p>

                        <p class="dep0">여권분실</p>
                        <p class="dep1">재발급 받은 여권사본</p>
                        <p class="dep1">여행증명서 발급비용 및 여권 재발급비용 지급증빙</p>
                    </div>

                </div>
            </div>

            <div class="pop_bottom">
                <div class="check_area">
                    <label class="mi_check">
                        <input type="checkbox" name="talkRequiredFile" data-default="N"/>
                        <span class="text">위 내용을 카카오톡으로 받겠습니다</span>
                        <i class="ico_square"></i>
                    </label>
                </div>
                <button type="button" class="mi_btn color mi_btn">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop basic" id="popFileUpload">
    <div class="inner">
        <div class="pop_wrap">
            <h2 class="pop_title with_close">
                여행증명서 및 여권 발급비용 지급증빙 <button type="button" class="btn_close"></button>
            </h2>

            <div class="pop_body cs_scroll">
                <div class="pop_contents">
                    <div class="no_list el_hidden">
                        <label for="fileElement" class="btn_more"></label>
                    </div>
                    <div class="img_area">
                        <div>
                            <div class="img_item">
                                <div class="img_wrap"></div>
                                <button class="btn_delete_img"></button>
                            </div>
                        </div>
                        <div>
                            <div class="img_item">
                                <div class="img_wrap"></div>
                                <button class="btn_delete_img"></button>
                            </div>
                        </div>
                        <div>
                            <div class="img_item">
                                <div class="img_wrap"></div>
                                <button class="btn_delete_img"></button>
                            </div>
                        </div>
                        <div>
                            <div class="img_item">
                                <div class="img_wrap"></div>
                                <button class="btn_delete_img"></button>
                            </div>
                        </div>
                        <div>
                            <div class="img_item">
                                <div class="img_wrap"></div>
                                <button class="btn_delete_img"></button>
                            </div>
                        </div>
                        <div class="more_wrap">
                            <label for="fileElement" class="btn_more" ></label>
                        </div>
                    </div>

                    <input type="file" id="fileElement" multiple accept=""/>

                    <ul class="noti">
                        <li>- jpg, jpeg, png, pdf 확장자만 업로드 가능합니다</li>
                        <li>- 파일당 10MB를 초과할 수 없습니다</li>
                    </ul>

                </div>
            </div>
            <div class="pop_bottom">
                <button type="button" class="mi_btn color">확인</button>
            </div>
        </div>
    </div>
</div>

<div class="mi_common_pop bottom" id="popClaimPaperSubmit">
    <div class="inner">
        <div class="pop_wrap">
            <h2 class="pop_title with_close">
                필요서류 제출내역
            </h2>
            <div class="pop_body cs_scroll">
                <div class="pop_contents">
                    <div class="file_list">
                        <p>기본서류</p>
                        <ul class="">
                            <li class="done">출입국증명자료</li>
                        </ul>
                    </div>
                    <div class="file_list">
                        <p>의료비 추가서류 (국내병원 이용)</p>
                        <ul class="">
                            <li class="done">출입국증명자료</li>
                            <li class="">출입국증명자료</li>
                            <li class="">출입국증명자료</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="pop_bottom btn_wrap">
                <button type="button" class="mi_btn color mi_btn">확인</button>
            </div>
        </div>
    </div>
</div>

@@include('common/js.html')

<script src="/js/lib/jquery-ui.min.js"></script>
<script>
var minDate = new Date();
var maxDate = '+1Y';

var datepickerOption = {
    prevText: '',
    nextText: '',
    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
    showMonthAfterYear: true,
    yearSuffix: '년',
    dateFormat: 'yy-mm-dd',
    minDate: minDate,
    maxDate: maxDate
};

$('#datepicker').datepicker(datepickerOption);

// miCommonPop.setting({ dTarget: 'popDatepicker' });
// miCommonPop.setting({ dTarget: 'popSelect' });
// miCommonPop.setting({ dTarget: 'popGuide' });
// miCommonPop.setting({ dTarget: 'popCompanion' });
// miCommonPop.setting({ dTarget: 'popPlan' });
// miCommonPop.setting({ dTarget: 'popEmail' });
// miCommonPop.setting({ dTarget: 'popChangeEmail' });
// miCommonPop.setting({ dTarget: 'popChangeCountry' });
// miCommonPop.setting({ dTarget: 'popCertificate' });
// miCommonPop.setting({ dTarget: 'popPeriod' });
miCommonPop.setting({ dTarget: 'popClaimOther' });

// miCommonPop.alert('여행시작일을 먼저 선택해주세요');
// miCommonPop.alert('가입자명단 엑셀업로드 기능은\nPC에서 지원됩니다');

// miCommonPop.alert({
//     dCopy: '<strong class="c__red">COVID-19 격리비/항공료 보장</strong>은<br>' +
//         '<strong class="c__point">8월 26일(금) 18:00 가입신청이 마감될 예정입니다</strong>' +
//         '<div class="bg_box t__left">안녕하세요\n' +
//         '\n' +
//         '먼저 마이뱅크에 보내주신 뜨거운 성원에 깊은 감사를 드립니다\n' +
//         '\n' +
//         '저희들은 고객님들의 해외여행중 코로나 감염시 감당해야 하는 체류연장비/항공료 등 큰 부담을 해결해보고자,\n' +
//         '\n' +
//         '국내 대형보험사, 글로벌보험사와의 협업으로\n' +
//         '<strong class="c__point">코로나격리비 및 항공료</strong>를 <strong class="c__red">무료로</strong> 지원해드리는 든든+COVID-19플랜 이벤트를 준비, 출시하였는데,\n' +
//         '\n' +
//         '<span class="c__point">예상을 훌쩍 뛰어넘는 엄청난 호응으로</span> 당초 예정한 가입자의 조기돌파가 전망됨에 따라,\n' +
//         '\n' +
//         '<span class="c__red">오는 8월 26일(금) 오후 6시에 이벤트를 조기 종료하게 되었습니다</span> \n' +
//         '\n' +
//         '성원에 감사드립니다</div>',
//     dTarget: 'popCovidEnd',
// })

// 버튼 색이 같은 confirm 유형
// miCommonPop.alert({
//     dType: 'confirm',
//     dTarget: 'popResetReg',
//     dCopy: '엑셀업로드로 변경하시는 경우,<br>입력하신 동반 가입자 정보가 초기화됩니다<br><br><strong>계속 진행하시겠습니까?</strong>',
//     dOpenAc: function () {
//         $('#popResetReg .btn_last').removeClass('color').addClass('white');
//     }
// });

// miCommonPop.alert('<div class="icon_box success">엑셀파일 <span class="c__point">업로드가 완료</span>되었습니다<p class="sub">간혹 스팸 메일로 인식하는 경우가 있으니\n' +
//     '<span class="c__red">스팸함을 확인</span>해주세요</p></div>');

// miCommonPop.alert({
//     dCopy: '<div class="icon_box warning"><strong class="c__red">엑셀 업로드 실패</strong><br>아래 엑셀파일 양식을 사용해주세요 </div>',
//     dButtonSet: '<button type="button" class="mi_btn white download btn_first">엑셀파일 양식 다운로드</button>',
//     dCloseX: true
// });

// miCommonPop.alert({
//     dCopy: '<div class="icon_box success"><strong class="c__point t__lg">완료되었습니다</strong>' +
//         '<ul class="indent_list">' +
//         '<li>- 보험가입증명서는 <span class="c__point">hello@mibank.me</span>로 다시 보내드렸습니다</li>' +
//         '<li>- 환불금액 #{553원}에 대한 결제취소는 카드사 반영시까지 2~3일 정도 소요될 수 있습니다</li></ul></div>'
// });

// miCommonPop.alert({
//     dType: 'info',
//     dTitle: '위험한 레포츠 등',
//     dCopy: '스쿠버다이빙, 행글라이딩/패러글라이딩, 스카이다이빙, 수상스키, 자동차/오토바이경주, 번지점프, 빙벽/암벽등반, 제트스키, 래프팅, 이와 비슷한 위험도가 높은 활동'
// });

// miCommonPop.alert({
//     dType: 'info',
//     dTitle: '<strong class="c__point">COVID-19 격리비/항공료 보장</strong>',
//     dCopy: '귀국전 코로나 양성 판정을 받아, 격리 혹은 국내 입국이 불가능하게 된 경우 보장됩니다 (PCR 48시간 이내, 신속항원 24시간 이내)\n' +
//         '<h2 class="pop_title">격리비</h2>' +
//         '1박당 10만원씩 정액 지급하며, 최대 100만원까지 받게 됩니다' +
//         '<h2 class="pop_title">귀국 항공료</h2>' +
//         '귀국 항공권 변경으로 추가비용 발생시 최대 50만원까지 받게됩니다' +
//         '<p class="mt_10">단, 병원 또는 병원과 연계된 호스피텔에 격리되어 입원 치료를 받는 경우는 의료비로 청구 가능하므로 격리비 지급대상이 아니며,  귀국 항공료만 보상됩니다</p>'
// });

// miCommonPop.alert({
//     dCopy: '<ul class="bullet_list">' +
//         '<li><strong class="c__point">환불금액은 553원</strong>입니다</li>' +
//         '<li>환불금액은 카드결제취소되었고, 카드사 반영시까지 2~3일 정도 소요될 수 있습니다</li>' +
//         '<li>COVID-19 격리비/항공료 보장만 빠진 새로운 보험가입증명서가 <span class="c__point">hello@mibank.me</span>로 발송되었습니다</li>' +
//         '</ul>'
// })

// showMiLoader('text');

// var btnGuide = $('.btn_guide');
// btnGuide.on('click', function () {
//     var insuType = $(this).data('insu');
//     var title, copy;
//
//     switch (insuType) {
//         case 'TR':
//             title = '해외여행자보험 쿠폰';
//             copy = '<li>해외여행자보험 가입자에게 제공되는 사은쿠폰입니다</li>' +
//                 '<li>마이뱅크 해외여행자보험 가입시, 보험료의 10%(가입자 1인당 3만원 한도)가 쿠폰으로 결제됩니다</li>' +
//                 '<li>쿠폰 1매로 동반가입자 <strong>모두에게 함께 적용</strong>됩니다</li>' +
//                 '<li><strong>선물하기</strong>도 가능합니다</li>' +
//                 '<li>보험가입시 쿠폰보유자의 휴대폰번호가 입력되면 쿠폰이 <strong>자동적용</strong>됩니다</li>';
//             break;
//         case 'GF':
//             title = '홀인원보험 초대장'
//             copy = '<li>마이뱅크 홀인원보험 페이지에 <strong>입장할 수 있는</strong> 초대장입니다</li>' +
//                 '<li><strong>보험료의 10%</strong>가 할인되며, 초대장 1매로 동반가입자 <strong>모두에게 적용</strong>됩니다</li>' +
//                 '<li><strong>선물하기</strong>도 가능합니다</li>';
//     }
//
//     miCommonPop.setting({
//         dTarget: 'popCouponGuide' + insuType,
//         dTitle: title + ' 사용방법',
//         dCloseX: true,
//         dCopy: '<ol class="ol_count">' + copy + '</ol>'
//     });
// });
// btnGuide.click()



</script>

</body>
</html>
