@charset "UTF-8";

// mi common
$gnb-active-color: #588db5;
$notosans-font-family: 'Noto Sans KR', Malgun Gothic, '맑은 고딕', dotum, '돋움', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
$spoqahansans-font-family: 'Spoqa Han Sans', Malgun Gothic, '맑은 고딕', dotum, '돋움', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

// default
$default-font-family: $spoqahansans-font-family;
$default-font-color: #555;
$default-font-size: 15px;
$default-line-height: 1.5;
$default-border-radius: 3px;

// color
$white: #fff;
$dark: #1c1c1c;

$c-point: #5c8cca;
$c-light_blue: #abc3e2;
$c-blue: #0057c9;
$c-red: #de4343;
$c-light_red: #e27f72;
$c-golf: #04764d;

$c-bg-body: #f4fbff;
$c-bg-page: #f8f8f8;
$c-bg-box: #f4f7fb;
$c-border-default: #ddd;

$c-disabled-input-bg: #f9f9f9;
$c-disabled-btn-color-bg: #d8dee8;
$c-disabled-btn-white-border: $c-border-default;
$c-disabled-font: #aaa;

$c-active-btn-white-bg: #f4f7fb;

$c-placeholder: #b6b6b6;

// width
$w-contents-pc: 480px;

// height
$h-gnb-pc: 100px;
$h-header-title: 64px;
$h-header-tab: 42px;
$h-contents-step: 90px;
$h-app-bottom-tab: 75px;
$h-contents-padding-bottom: 35px;
$h-footer-pc: 127px;

// etc
$img-path: '/images/';
$img-path-common: '/images/common/';
$img-path-components: '/images/components/';
