@charset "UTF-8";

.page_title {
    @include set-font(20px, $c-red);
    font-weight: bold;
}

.icon_box {
    &:before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto 12px;
        border-radius: 20px;
    }

    &.success {
        &:before {
            background: #eee url($img-path-components + 'ico_complete.png') no-repeat center 15px / 19px auto;
        }
    }

    &.warning {
        &:before {
            background: #eee url($img-path-components + 'ico_warning.png') no-repeat center / 7px auto;
        }
    }
}

.indent_list {
    padding: 25px 20px 0;
    font-size: 15px;
    text-align: left;

    li {
        @include text-indent(-10px);

        & + li {
            margin-top: 12px;
        }
    }
}

.bullet_list {
    text-align: left;

    li {
        @include text-indent(-10px);

        &:before {
            content: '';
            display: inline-block;
            position: relative;
            top: 12px;
            width: 3px;
            height: 3px;
            margin-right: 7px;
            background-color: #999;
            vertical-align: top;
        }

        & + li {
            margin-top: 10px;
        }
    }
}

.ol_count {
    li {
        padding-left: 20px;
        counter-increment: ord;

        &:before {
            content: counter(ord) ".";
            display: inline-block;
            width: 20px;
            margin-left: -20px;
        }
    }
}

.mi_table {
    border-bottom: 1px solid $c-border-default;

    tbody {
        tr:first-child {
            td {
                padding-top: 13px;
            }
        }

        tr:last-child {
            td {
                padding-bottom: 13px;
            }
        }
    }

    th {
        @include set-font(13px, #333);
        height: 36px;
        background: #efeff4;
    }

    td {
        @include set-font(14px, $dark);
        padding: 3px 0;
        line-height: 26px;
    }

    .mi_check {
        vertical-align: top;
    }
}

.bg_tab_gradation {
    background: url($img_path + "bg_tab_gradation.png") repeat-x 0 top / auto 35px;
}

.shadow_up {
    box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.16);
}

.shadow_down {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.sub_title {
    display: flex;
    height: 50px;
    background: $white;
    border-bottom: 1px solid $c-border-default;
    color: $dark;
    z-index: 88;

    @at-root .mobile & {
        position: sticky;
        top: $h-header-title;
    }

    @at-root .app & {
        top: 0
    }

    .btn_prev {
        width: 38px;
        padding-top: 0;
        line-height: 49px;

        + h3 {
            padding-right: 38px;
        }
    }

    h3 {
        flex: 1;
        line-height: 49px;
        text-align: center;
    }
}

.submenu_tab {
    display: flex;
    height: 50px;
    background: $white;
    border-bottom: 1px solid #ddd;
    z-index: 88;

    @at-root .mobile & {
        position: sticky;
        top: $h-header-title + $h-header-tab;
    }

    @at-root .app & {
        top: $h-header-tab;
    }

    a {
        position: relative;
        flex: 1;
        padding-top: 17px;
        color: #999;
        text-align: center;
    }

    .active {
        color: $dark;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background: $c-point;
        }
    }
}

.no_data {
    padding-top: 50px;
    color: #777;
    text-align: center;

    &:before {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto 14px;
        border-radius: 25px;
        background: $c-bg-page url($img-path + "ico_no_data.png") no-repeat center / 28px auto;

        @at-root .bg & {
            background-color: $white;
        }
    }



    .mi_btn {
        margin-top: 50px;

        &.t__underline {
            color: #999;
            background: none;
            font-size: 14px;
            border: none;
            line-height: normal;
            height: auto;
        }
    }
}

.label_status {
    $h: 20px;

    @include btn-height($h);
    @include set-font(12px, $c-point);
    display: inline-block;
    min-width: 63px;
    padding: 0 8px;
    border: 1px solid #eaf3ff;
    border-radius: calc(#{$h} / 2);
    background-color: #eaf3ff;
    text-align: center;

    &.ready {
        background-color: $white;
        color: $c-red;
        border-color: $c-red;
    }

    &.re {
        background-color: $white;
        color: $c-point;
        border-color: $c-point;
    }

    &.end {
        background-color: #f1f1f1;
        color: #444;
    }

    &.refund {
        background-color: $white;
        border-color: $dark;
        color: $dark;
    }
}

.my_info {
    .title {
        @include set-font(18px, $dark);
        margin-top: 7px;
        margin-bottom: 23px;
        font-weight: bold;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999999;

    .inner {
        position: absolute;
        top: 32%;
        left: 50%;
        max-width: 200px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        color: $white;
        transform: translateX(-50%);
    }

    .visual {
        width: 52px;
        margin: 44px auto 0;
        span {
            display: inline-block;
            width: 7px;
            height: 29px;
            margin: 0 3px 0.6em;
            background-color: #67edff;
            animation: stretchDelay 1.38s infinite ease-in-out;
        }

        .rect2 {
            animation-delay: -1.15s;
        }

        .rect3 {
            animation-delay: -0.92s;
        }

        .rect4 {
            animation-delay: -0.72s;
        }
    }
}

.cs_scroll {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #b2b2b2;
        border-radius: 4px;
        border: 1px solid white;
    }
}

.noti_box {
    @include set-font(14px, $dark);
    display: flex;
    margin-top: 30px;
    padding: 20px 0;
    background: $c-bg-page;
    .noti_title {
        padding-left: 20px;
        margin-bottom: 10px;
        color: $dark;
    }
    & > div {
        flex: 1;
    }

    ul {
        padding: {
            left: 30px;
            right: 20px
        };
        border-right: 1px solid $c-border-default;

        li {
            text-indent: -10px;
            word-break: keep-all;
            &:before {
                content: '';
                display: inline-block;
                position: relative;
                top: -4px;
                width: 3px;
                height: 3px;
                margin-right: 7px;
                background: #999;
            }

            & + li {
                margin-top: 7px;
            }
        }
    }

    .mi_check {
        width: 66px;
        margin: auto;
        text-align: center;

        .ico_circle {
            margin-bottom: 4px;
        }
    }
}
