.component_id {
    .part_title {
        color: #1c1c1c;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    div.common_wrap{
        padding-top: 0;
    }

    .policy_wrap {
        padding-bottom: 20px;
        .dp1_header {
            border-top: none;
            padding: 22px 0;
        }
        .dp1_body {
            margin-top: 0;
        }
        .policy_item_dp1 {
            background: #f8f8f8;
        }
    }

    .confirm {
        position: relative;
        .timer {
            position: absolute;
            font-size: 12px;
            color: #999999;
            right: 107px;
            top: 31%;
        }
    }
}
