@charset "UTF-8";

.plan {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0 0 4px 4px;
    background-color: $white;
    overflow: hidden;

    .cvrg_group:not(:first-child) {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #e2e2e2;
    }

    .input_box {
        position: relative;
    }

    @include media(sss) {
        .block {
            display: block;
        }
    }

    h5 {
        @include set-font(16px, $dark);
        position: relative;

        & + ul {
            margin-top: 15px;
        }

        em {
            font-size: 14px;
        }

        .price {
            @include set-font(15px, #555);
        }
    }

    ul {
        padding-left: 16px;

        @include media(sss) {
            padding-left: 8px;
        }

        &.off {
            .price {
                display: none;
            }

            .price0 {
                display: block;
            }
        }
    }

    li {
        display: flex;
        align-items: center;

        @include media(sss) {
            font-size: 14px;
            select {
                font-size: 14px;
            }
        }

        & + li {
            margin-top: 6px;
        }

        &.c__blue {
            .mi_input {
                color: $c-blue;
            }
        }

        &.c__red {
            .mi_input {
                color: $c-red;
            }
        }
    }

    .origin {
        margin-right: 9px;
        color: #999;
        text-decoration: line-through;
    }

    .price0 {
        display: none;
        color: #999
    }

    .sub {
        font-size: 14px;
    }

    .added {
        font-size: 13px;
        word-break: keep-all;
    }

    .add_cmt {
        display: inline-block;
        vertical-align: top;
        margin-right: 9px;
    }

    .limit_label {
        @include media(sm) {
            max-width: 160px;
        }
        @include media(sss) {
            max-width: 145px;
        }
    }
    .btn_qmark {
        @include add-ico(btn_qmark, before, 15px, $withText: false);
        width: 27px;
        height: 22px;
    }

    .price_box {
        position: absolute;
        right: 0;
        width: 130px;
        height: 44px;
        padding: 0 9px;
        border: 1px solid #5c8cca;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        line-height: 42px;
        color: #5c8cca;
        text-align: center;
        z-index: 1;
        background: #fff;
        font-size: 15px;
        border-radius: 3px;
    }

    .input_box,
    .price,
    .price0 {
        justify-content: flex-end;
        flex: 1;
        text-align: right;
    }

    .mi_input {
        flex: 0 0 130px;
        padding-left: 0;
        border-color: $c-light_blue;
        font-size: 15px;

        &.short {
            flex: 0 0 100px;
        }
    }

    .f__box {
        justify-content: space-between;
        align-items: center;
    }

    .check_group {
        flex: 0 0 auto;
    }

    .covid_group {
        position: relative;
        margin-top: 20px;
        margin-bottom: -21px;
        padding: 20px;
        background: #f4f7fb;
        border: 1px solid #abc3e2;

        h5 {
            line-height: 24px;
            @include text-bg-line(8px, $white);

            &:before {
                width: calc(100% - 4px)
            }

            .btn_qmark {
                height: 24px
            }
        }

        ul {
            padding-left: 10px;
        }

        li {
            align-items: flex-start;
        }
    }

    .btn_convert {
        color: #5c8cca;
        font-size: 14px;
        position: absolute;
        right: 0;
    }
}
