<div class="account_info_wrap el_hidden">
    <div class="account_info">
        <div class="deadline">입금기한: <em>21년 12월 13일 22시</em>까지</div>

        <ul>
            <li>
                <span class="title">입금하실 보험료</span>
                <span>131,190원</span>
            </li>
            <li>
                <span class="title">입금하실 계좌</span>
                <span>
                    <em class="bankname">KEB하나은행</em> <button type="button" class="mi_btn white sm">계좌복사</button><br>
                    <em class="account">123-1234-56789-123</em><br>
                    (예금주 : <em class="depositor">해외여행자보험</em>)
                </span>
            </li>
        </ul>
    </div>

    <button type="button" class="mi_btn color">입금확인</button>
</div>