<div class="pay_type_wrap el_hidden">
    <h5>결제방법을 선택해주세요</h5>

    <!-- todo 무통장 입금 선택 후 입금대기 상태일 경우 아래 모두 적용
        1. <div.check_group>에서 init 클래스 제거
        2. 신용카드 / 체크카드 해당 <label.mi_check>에 disabled 클래스 추가, 해당 <input>에 disabled 추가
        3. 무통장 입금 해당 <label.mi_check>에 checked 클래스 추가, 해당 <input>에 checked 추가 -->
    <div class="check_group init button row">
        <label class="mi_check card">
            <input type="radio" name="payType" value="card">
            <span class="text">신용카드 / 체크카드</span><i class="ico_circle"></i>
        </label>

        <label class="mi_check">
            <input type="radio" name="payType" value="acc">
            <span class="text">무통장 입금</span><i class="ico_circle"></i>
        </label>
    </div>

    <div class="input_group el_hidden">
        <div class="input_box">
            <select class="mi_input select">
                <option value="" selected disabled hidden>은행선택</option>
                <option value="BK04">KB국민은행</option>
                <option value="BK26">신한은행</option>
                <option value="BK81">KEB하나은행</option>
                <option value="BK20">우리은행</option>
                <option value="BK11">NH농협</option>
                <option value="BK03">IBK기업은행</option>
                <option value="BK23">SC제일은행</option>
                <option value="BK32">부산은행</option>
                <option value="BK31">대구은행</option>
                <option value="BK39">경남은행</option>
                <option value="BK34">광주은행</option>
                <option value="BK07">수협은행</option>
                <option value="BK71">우체국</option>
            </select>

            <button type="button" class="mi_btn color w__80" id="btnGetAccInfo" disabled>확인</button>
        </div>
    </div>
</div>