<p>당사는 귀하가 보험가입시 수집한 정보 중 아래의 정보를 보험사에 제공하는 것에 대하여 동의를 받고자 합니다</p>

<ul class="list1 single">
    <li>
        <h3>1. 제공목적 </h3>
        <p>보험상품 추천, 상담</p>
    </li>
    <li>
        <h3>2. 제공될 수 있는 정보</h3>
        <p>이름, 생년월일, 성별, 전화번호, 이메일</p>
    </li>
    <li>
        <h3>3. 제공될 수 있는 보험사</h3>
        <ul class="list4">
            <li>- 손해보험: 농협손해보험, 롯데손해보험, 메리츠화재해상보험, 삼성화재해상보험, 에이스아메리칸화재해상보험, 캐롯손해보험, 하나손해보험, 한화손해보험, 현대해상화재보험, 흥국화재해상보험, AIG손해보험, AXA손해보험, DB손해보험, KB손해보험, MG손해보험​</li>
            <li>- 생명보험: 교보라이프플래닛, 교보생명, 동양생명, 라이나생명, 메트라이프생명, 미래에셋생명, 삼성생명, 신한라이프생명, 처브라이프생명, 푸르덴셜생명, 푸본현대생명, 하나생명, 한화생명, 흥국생명, ABL생명, AIA생명, DB생명, DGB생명, IBK연금보험, KB생명, KDB생명, NH농협생명</li>
        </ul>
    </li>
    <li>
        <h3>4. 개인정보보유 및 이용기간</h3>
        <p>동의일로부터 3년간</p>
    </li>
</ul>

<p>동의하지 않으시면 보험상품 추천, 상담서비스 및 혜택은 받으실 수 없습니다</p>
