<div class="policy_wrap @@class">
    <ul class="policy_body">
        <li class="policy_item_dp1">
            <div class=" common_wrap">
                <div class="dp1_header">
                    <p>
                        보험가입을 위해  <button type="button" class="btn_toggler_target t__underline" data-target="togglee_target_1">개인정보수집 등</button>에 동의합니다
                    </p>
                    <label class="mi_check">
                        <input type="checkbox">
                        <i class="ico_circle"></i>
                    </label>
                </div>
            </div>

            <!-- TODO 2인이상 가입일 경우만 <div.companion_agree_wrap> 노출 -->
            <div class="companion_agree_wrap common_wrap agree_child">
                <ul class="companion_agree cs_scroll">
                    <li>
                        <span class="companion_info">alksdjflaksjdflkasjdaflkajsdflksjdflakjsdlkfasdfjlskdjflskdfj [901212-1234567]</span>

                        <label class="mi_check">
                            <span class="text">동의</span>
                            <input type="checkbox" name="checkbox">
                            <i class="ico_check"></i>
                        </label>
                    </li>

                    <li>
                        <span class="companion_info">홍길동홍길동홍길동홍길동홍길동 [901212-1212123]</span>

                        <label class="mi_check">
                            <span class="text">동의</span>
                            <input type="checkbox" name="checkbox">
                            <i class="ico_check"></i>
                        </label>
                    </li>

                    @@for (var i = 0; i < 5; i++) {
                    <li>
                        <span class="companion_info">홍길동 [901212-1212123]</span>

                        <label class="mi_check">
                            <span class="text">동의</span>
                            <input type="checkbox" name="checkbox">
                            <i class="ico_check"></i>
                        </label>
                    </li>
                    }
                </ul>
            </div>

            <div class="dp1_body common_wrap bg togglee_target_1">
                <ul class="dp1_items">
                    <li class="policy_item_dp2">
                        <button type="button" class="btn_toggler">이용약관</button>

                        <div class="policy_docs togglee">
                            @@include('components/policy_1.html')
                        </div>
                    </li>
                    <li class="policy_item_dp2">
                        <button type="button" class="btn_toggler">단체규약</button>

                        <div class="policy_docs togglee">
                            @@include('components/policy_2.html')
                        </div>
                    </li>
                    <li class="policy_item_dp2">
                        <button type="button" class="btn_toggler">개인정보수집 및 이용</button>

                        <div class="policy_docs togglee">
                            @@include('components/policy_3.html')
                        </div>
                    </li>
                    <li class="policy_item_dp2">
                        <button type="button" class="btn_toggler">알아두실 사항</button>

                        <div class="policy_docs togglee">
                            @@include('components/policy_4.html')
                        </div>
                    </li>
                </ul>

                <div class="btn_wrap">
                    <!-- TODO pc일 경우 <a>, mobile일 경우 <button> 노출 -->
                    <a href="url" class="mi_btn white" target="_blank">보험약관</a>
                    <a href="url" class="mi_btn white" target="_blank">서비스약관</a>
                    <button type="button" class="mi_btn white">이메일로 약관받기</button>
                </div>
            </div>

        </li>
    </ul>
</div>
