<ul class="list1 single">
    <li>
        <h3>1. 제공되는 혜택</h3>
        <ul class="list4">
            <li>- 이벤트 혜택(보험료할인 / 보험료캐시백 등) </li>
            <li>- 새로운 서비스 출시 알림 등</li>
        </ul>
    </li>
    <li>
        <h3>2. 제공하는 방법</h3>
        <p>카카오톡/문자메세지, 이메일, 모바일앱 푸쉬메세지</p>
    </li>
    <li>
        <h3>3. 제공을 위해 수집·이용되는 개인정보</h3>
        <p>이름, 생년월일, 성별, 휴대폰번호, 이메일, 디바이스ID</p>
    </li>
    <li>
        <h3>4. 개인정보보유 및 이용기간</h3>
        <p>동의일로부터 3년간</p>
    </li>
</ul>

<p>동의하지 않으시면 위와 같은 다양한 혜택을 받으실 수 없습니다</p>
