<h3> 1. 개인(신용)정보의 수집•이용 및 조회 주체</h3>
<p>보험대리점 ㈜마이뱅크인슈어런스, 단체보험계약자 마이뱅크㈜, 보험회사(DB손해보험)</p>

<h3> 2. 개인(신용)정보의 수집 및 이용 목적</h3>
<p>
    ㈜마이뱅크인슈어런스를 통해 마이뱅크㈜가 체결한 단체보험의 피보험자가 됨에 있어 보험계약 인수심사, 계약체결, 유지, 관리(갱신 포함), 보험금 등 지급/심사, 순보험요율의 산출/검증, 민원처리 및
    분쟁 대응, 보험사고조사(보험사기 조사 포함), 보험모집질서 유지 및 상품/서비스 추천 등
</p>

<h3> 3. 수집하는 개인(신용)정보 항목 및 수집방법</h3>
<ul class="list3">
    <li>
        가. 수집, 이용할 개인정보의 내용
        <br>
        개인식별정보(성명, 주민등록번호(외국인등록번호), 전자우편주소, 휴대폰번호) 보험계약정보, 피보험자의 질병 및 상해에 관한 정보, 보험금지급 관련 정보, 결제정보(신용카드, 계좌번호)
    </li>
    <li>
        나. 수집방법 : 인터넷 홈페이지, 모바일어플리케이션, 전화, 팩스, 한국신용정보원 조회서비스
    </li>
</ul>

<h3>4. 개인(신용)정보의 보유 및 이용기간</h3>
<p>위 수집/이용 목적 달성시까지</p>

<h3> 5. 조회할 개인(신용)정보</h3>
<p>보험계약정보, 보험금지급 관련 정보(사고정보 포함), 피보험자의 질병 및 상해 관련 정보</p>

<h3>6. 개인(신용)정보 조회목적</h3>
<p>보험계약의 인수심사/체결/유지/관리(갱신 포함), 보험금 등 지급/심사, 보험사고조사, 보험상품 추천안내, 기타 민원처리</p>

<h3> 7. 조회동의 유효기간</h3>
<p> 위 조회 목적 달성시까지</p>

<h3>8. 조회자[개인(신용)정보를 제공받는 자]의 개인(신용)정보의 보유, 이용기간</h3>
<p>정보를 제공받은 날로부터 개인(신용)정보의 조회 목적 달성시까지</p>

<h3>9. 개인(신용)정보를 제공받는 자</h3>
<p>보험대리점 ㈜마이뱅크인슈어런스, 단체보험계약자 마이뱅크㈜, 보험회사(DB손해보험), 한국신용정보원</p>

<h3>10. 개인(신용)정보를 제공받는 자의 이용목적</h3>
<p> 보험계약의 인수심사/체결/유지/관리(갱신 포함), 보험금 등 지급/심사, 보험사고조사, 기가입 보험조회, 기타 민원처리</p>

<h3>11. 제공할 개인(신용)정보의 내용</h3>
<p>위 「 3. 수집하는 개인정보 항목 및 수집방법」의 정보내용과 같음</p>

<h3>12. 제공받는 자의 개인(신용)정보 보유/이용기간</h3>
<p>정보를 제공받은 날로부터 개인(신용)정보를 제공받는 자의 이용목적 달성시까지</p>

<h3>13. 민감정보 및 고유식별정보의 처리에 관한 사항</h3>
<p>
    당사는 개인정보보호법 제23조 및 제24조에 따라 본 계약과 관련하여 상기의 개인(신용)정보에 대한 개별 동의 사항에 대하여 다음과 같이 고객님의 민감정보(질병•상해정보)
    및 고유식별정보(주민등록번호•외국인등록번호)를 처리(수집/이용, 제공 등)하고자 합니다. 이에 대하여 동의하십니까?
</p>