<div class="cvrg_group">
    <h5>해외의료비</h5>

    <ul>
        <li class="c__blue c__red">
            <span>질병 <em class="added c__red">(코로나19 보장 포함)</em></span>
            <div class="price DZ03">2,000만원</div>
        </li>
        <li class="c__blue">
            상해
            <div class="price AC03">3,000만원</div>
        </li>
    </ul>
</div>

<div class="cvrg_group">
    <h5>여행중 주요사고보장</h5>

    <ul>
        <li class="c__blue">
            배상책임
            <button type="button" class="btn_qmark btn_info" data-index="p4"><span class="t__hidden">보장 안내</span></button>
            <div class="price EC02">5,000만원</div>
        </li>
        <li class="c__blue">
            <span>항공기 지연/결항 <em class="added">(4시간)</em><br>항공위탁수하물 지연도착 <em class="added">(6시간)</em></span>
            <button type="button" class="btn_qmark btn_info" data-index="p2"><span class="t__hidden">보장 안내</span></button>
            <div class="price EC07">30만원</div>
        </li>
        <li class="c__blue">
            휴대품 파손/도난
            <button type="button" class="btn_qmark btn_info" data-index="p9"><span class="t__hidden">보장 안내</span></button>
            <div class="price EC06">100만원</div>
        </li>
        <li class="c__blue">
            긴급구조/송환
            <button type="button" class="btn_qmark btn_info" data-index="p1"><span class="t__hidden">보장 안내</span></button>
            <div class="price EC01">US 5만달러</div>
        </li>
        <li class="c__blue">
            긴급귀국
            <button type="button" class="btn_qmark btn_info" data-index="p5"><span class="t__hidden">보장 안내</span></button>
            <div class="price EC09">30만원</div>
        </li>
    </ul>
</div>

<div class="cvrg_group under15">
    <h5 class="f__box">
        상해사고 후유장해
        <div class="price AC02 c__blue">3억원</div>
    </h5>
</div>

<div class="cvrg_group over15">
    <h5>사망보장</h5>

    <ul>
        <li class="c__blue">
            상해사망/후유장해
            <div class="price AC01">3억원</div>
        </li>
        <li>
            질병사망/고도후유장해
            <div class="price DZ01">5,000만원</div>
        </li>
    </ul>
</div>

<div class="cvrg_group">
    <h5>여행중 기타사고보장</h5>

    <ul>
        <li>
            특정전염병치료 위로금
            <button type="button" class="btn_qmark btn_info" data-index="p6"><span class="t__hidden">보장 안내</span></button>
            <div class="price EC11">50만원</div>
        </li>
        <li>
            식중독입원 위로금
            <button type="button" class="btn_qmark btn_info" data-index="p7"><span class="t__hidden">보장 안내</span></button>
            <div class="price EC12">50만원</div>
        </li>
        <li>
            여권분실
            <button type="button" class="btn_qmark btn_info" data-index="p8"><span class="t__hidden">보장 안내</span></button>
            <div class="price EC08">6만원</div>
        </li>
        <li>
            항공기납치
            <div class="price EC10">140만원</div>
        </li>
    </ul>
</div>

<div>
    <h5>국내의료비(질병/상해)</h5>

    <ul>
        <li>
            입원
            <div class="price AC08">1,000만원</div>
        </li>
        <li>
            외래
            <div class="price AC09">10만원</div>
        </li>
        <li>
            처방
            <div class="price AC10">10만원</div>
        </li>
        <li>
            도수치료비
            <div class="price EC03">350만원</div>
        </li>
        <li>
            주사치료비
            <div class="price EC05">250만원</div>
        </li>
        <li>
            MRI/MRA 진단
            <div class="price EC04">300만원</div>
        </li>
    </ul>
</div>
