<table class="mi_table">
    <caption>가입자명단</caption>

    <thead>
    <tr>
        <th>이름</th>
        <th>생년월일</th>
        <th>보험 만료일시</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>홍길동</td>
        <td>940319</td>
        <td>2022-01-03 오후 10시</td>
    </tr>

    <tr>
        <td>홍길동일</td>
        <td>940319</td>
        <td class="c__point">2022-01-03 오후 10시</td>
    </tr>

    @@for (var i = 2; i <= 20; i++) {
    <tr>
        <td>홍길동</td>
        <td>801212</td>
        <td>2022-01-03 오후 10시</td>
    </tr>
    }
    </tbody>
</table>
