<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="format-detection" content="telephone=no">
<title>해외여행자보험 - 마이뱅크인슈어런스</title>
<meta name="title" content="해외여행자보험">
<meta name="description" content="Covid-19 보장, 가성비 갑, 초간편, 여러명 한번에 가입가능">

<meta property="og:title" content="해외여행자보험">
<meta property="og:type" content="article">
<meta property="og:url" content="https://mitravels.mibankins.com/">
<meta property="og:image" content="https://www.mibank.me/dev-img/common/mibank_og_logo.png"/>
<meta property="og:site_name" content="마이뱅크">
<meta property="og:description" content="Covid-19 보장, 가성비 갑, 초간편, 여러명 한번에 가입가능">

<link rel="shortcut icon" href="/images/favicon/favicon.png">
<link rel="apple-touch-icon-precomposed" href="/images/favicon/favicon@72.png">
<link rel="apple-touch-icon-precomposed" sizes="96x96" href="/images/favicon/favicon@96.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon/favicon@144.png">
<link rel="apple-touch-icon-precomposed" sizes="192x192" href="/images/favicon/favicon@192.png">

<link href="https://common.mibank.xyz/build/js/chunk-vendors.js" rel="preload" as="script">
<link href="https://common.mibank.xyz/build/js/gnb_ins.js" rel="preload" as="script">
<link href="https://common.mibank.xyz/build/js/footer_ins.js" rel="preload" as="script">

<link rel="stylesheet" href="https://common.mibank.xyz/css/reset.css">
<link rel="stylesheet" href="/css/style.css">

<script src="/js/lib/jquery-3.4.1.min.js"></script>
<script src="/js/lib/signature_pad.umd.js"></script>
<script src="https://common.mibank.xyz/js/mi.common.js"></script>


</head>

<body>
<div id="gnb"></div>


<div class="wrap">
    <div id="container" class="ct_claim_medical">
        <h2 class="header_title @@class">
    <a href="/">해외여행자보험</a>
</h2>

        <div class="contents_step  with_title no_tab">
            <a href="/" class="btn_prev common_wrap">이전</a>보상간편청구
        </div>
        <div id="contents">
            <div class="common_wrap">

                <div class="input_group full">
                    <label class="input_label c__point"><strong>의료비 청구 유형</strong> 선택</label>
                    <div class="input_box check_group">
                        <label class="mi_check">
                            <input type="radio" name="radio_default_check">
                            <i class="ico_circle_inner"></i><span class="text">신규청구</span>
                        </label>

                        <label class="mi_check tooltip">
                            <input type="radio" name="radio_default_check">
                            <i class="ico_circle_inner"></i><span class="text">추가청구 <button type="button" class="btn_qmark btn_info" data-index="p11"></button></span>
                        </label>
                    </div>

                    <p class="noti_box">
                        <strong class="c__point">기존에 보상 받은 사고 또는 질병</strong>에 대해 추가로 청구하시는 경우,
                        <strong class="c__point">추가청구를 선택</strong>하시어 사고내용을 다시 입력하지 않고 간편하게 청구하실 수 있습니다
                    </p>

                    <div class="check_group add_accident" data-name="">
                        <label class="mi_check box">
                            <input type="radio" name="test3" value="1">
                            <i class="ico_circle"></i>
                            <div class="contents">
                                <h4 class="item_tit">요추골절</h4>
                                <dl>
                                    <dt>사고발생일시</dt>
                                    <dd>2024.03.01 13시경</dd>
                                </dl>
                            </div>
                        </label>
                        <label class="mi_check box">
                            <input type="radio" name="test3" value="1">
                            <i class="ico_circle"></i>
                            <div class="contents">
                                <h4 class="item_tit">기타</h4>
                                <dl>
                                    <dt>사고발생일시</dt>
                                    <dd>2024.03.01 13시경</dd>
                                </dl>
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="common_wrap">
                <div class="btn_wrap dual">
                    <button class="mi_btn white small">이전</button>
                    <button class="mi_btn color big">다음</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer"></div>

<script>

</script>

<script src="https://common.mibank.xyz/build/js/chunk-vendors.js"></script>
<script src="https://common.mibank.xyz/build/js/gnb_ins.js"></script>
<script src="https://common.mibank.xyz/build/js/footer_ins.js"></script>

<script src="/js/common/mi.common.pop.js"></script>
<script src="/js/common.js"></script>

<!-- markup에서만 사용 -->
<script>
// sessionStorage.setItem('mi_device', 'app');
sessionStorage.removeItem('mi_device');

$(function () {
    if (!isMobile) {
        $('body').addClass('desktop');
        $('.lnb_wrap').remove()
    } else {
        $('body').addClass('mobile');
        $('.header-dev').add('#footer').remove();

        if (isApp) {
            $('body').addClass('app');
            $('.lnb_wrap').remove();

            var miAppData = {
                headType: '', // style  - 사용안함
                headColor: '5c8cca', // 네이티브 네비게이션 컬러
                menuColor: 'ffffff', // 햄버거 헤더 컬러 - 사용안함
                subMenuColor: '', // 서브메뉴 컬러 - 사용안함
                miTitle: '해외여행자보험', // 네이티브 네비게이션 타이틀
                miTitleType: 'text', // image or text
                miTitleCode: '', // 서비스 코드
                pathCode1: '', // 현재위치 depth1 - code 임시사용
                pathCode2: '', // 현재위치 depth2 - 사용안함
                menuAdd: true, // 햄버거 메뉴 노출 여부 - 사용안함
                tabMenus: []
            };

            if (typeof isIntro !== 'undefined') { // index
                miAppData.miTitle = '';
                miAppData.headColor = 'ffffff';
            }

            miAppProtocol.call('miAppConnectCall', miAppData);
        }
    }
})
</script>

</body>
</html>
