<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="format-detection" content="telephone=no">
<title>해외여행자보험 - 마이뱅크인슈어런스</title>
<meta name="title" content="해외여행자보험">
<meta name="description" content="Covid-19 보장, 가성비 갑, 초간편, 여러명 한번에 가입가능">

<meta property="og:title" content="해외여행자보험">
<meta property="og:type" content="article">
<meta property="og:url" content="https://mitravels.mibankins.com/">
<meta property="og:image" content="https://www.mibank.me/dev-img/common/mibank_og_logo.png"/>
<meta property="og:site_name" content="마이뱅크">
<meta property="og:description" content="Covid-19 보장, 가성비 갑, 초간편, 여러명 한번에 가입가능">

<link rel="shortcut icon" href="/images/favicon/favicon.png">
<link rel="apple-touch-icon-precomposed" href="/images/favicon/favicon@72.png">
<link rel="apple-touch-icon-precomposed" sizes="96x96" href="/images/favicon/favicon@96.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon/favicon@144.png">
<link rel="apple-touch-icon-precomposed" sizes="192x192" href="/images/favicon/favicon@192.png">

<link href="https://common.mibank.xyz/build/js/chunk-vendors.js" rel="preload" as="script">
<link href="https://common.mibank.xyz/build/js/gnb_ins.js" rel="preload" as="script">
<link href="https://common.mibank.xyz/build/js/footer_ins.js" rel="preload" as="script">

<link rel="stylesheet" href="https://common.mibank.xyz/css/reset.css">
<link rel="stylesheet" href="/css/style.css">

<script src="/js/lib/jquery-3.4.1.min.js"></script>
<script src="/js/lib/signature_pad.umd.js"></script>
<script src="https://common.mibank.xyz/js/mi.common.js"></script>


</head>

<body>
<div id="gnb"></div>


<div class="wrap ">
    <div id="container" class="ct_claim_list bg">
        <h2 class="header_title @@class">
    <a href="/">해외여행자보험</a>
</h2>


<nav class="header_tab">
    <a href="/apply" class="@@tab1" id="tab1">간편계산</a>
    <a href="/apply" class="@@tab2" id="tab2">보험가입</a>
    <a href="/mypage" class="active">마이페이지</a>
    <a href="/qna" class="@@tab4">Q&A</a>
</nav>

        <nav class="submenu_tab common_wrap">
    <a class="@@tab1" href="/mypage">가입내역</a>
    <a class="active" href="/mypage/claim-list">보험금청구내역</a>
    <a class="@@tab3" href="/coupon">쿠폰함</a>
</nav>

        <div class="common_wrap" id="contents">
            <ul>
                <li class="claim_progress_box">
                    <button class="btn_delete_claim">삭제</button>
                    <p class="box_title">항공위탁수하물 파손/도난/분실 항공위탁수하물 파손/도난/분실 항공위탁수하물 파손/도난/분실</p>
                    <div class="progress">
                        <ul class="box">
                            <li class="done"><span class="ball"></span>청구서<br>작성</li>
                            <li class="done"><span class="ball"></span>청구서<br>접수완료</li>
                            <li class="done"><span class="ball"></span>담당자<br>배정</li>
                            <li class="red now"><span class="ball"></span>보험금<br>지급심사</li>
                            <li class=""><span class="ball"></span>완료</li>
                        </ul>
                    </div>

                    <div class="info">
                        <dl>
                            <dt>피보험자</dt>
                            <dd>홍길동</dd>
                        </dl>
                        <dl>
                            <dt>여행정보</dt>
                            <dd>홍길동</dd>
                        </dl>
                        <dl>
                            <dt>접수번호</dt>
                            <dd>240319-12345</dd>
                        </dl>
                        <dl>
                            <dt>접수번호</dt>
                            <dd>2024.03.01. 12시~13시</dd>
                        </dl>
                        <dl>
                            <dt>사고내용</dt>
                            <dd>분실</dd>
                        </dl>
                        <dl>
                            <dt>제출서류</dt>
                            <dd><button class="t__underline">자세히보기</button></dd>
                        </dl>
                        <dl>
                            <dt>상태</dt>
                            <dd>
                                <strong class="c__333">보험금 지급완료<br>77,000원</strong><br>
                                (신한&ensp;&ensp;|&ensp;&ensp;123*******56)
                            </dd>
                        </dl>
                        <dl>
                            <dt>담당자</dt>
                            <dd>
                                홍길동&ensp;&ensp;|&ensp;&ensp;01022227370
                            </dd>
                        </dl>
                    </div>
                    <button class="btn_add_claim mi_btn white">추가청구하기</button>
                </li>

                <li class="claim_progress_box">
                    <button class="btn_delete_claim">삭제</button>
                    <p class="box_title">항공위탁수하물 파손/도난/분실</p>
                    <div class="progress">
                        <ul class="box">
                            <li class="done"><span class="ball"></span>청구서<br>작성</li>
                            <li class="now"><span class="ball"></span>청구서<br>접수완료</li>
                            <li class=""><span class="ball"></span>담당자<br>배정</li>
                            <li class=""><span class="ball"></span>보험금<br>지급심사</li>
                            <li class=""><span class="ball"></span>완료</li>
                        </ul>
                    </div>

                    <div class="info">
                        <dl>
                            <dt>피보험자</dt>
                            <dd>홍길동</dd>
                        </dl>
                        <dl>
                            <dt>여행정보</dt>
                            <dd>일본&ensp;&ensp;|&ensp;&ensp;24.02.27 ~ 24.03.02</dd>
                        </dl>
                    </div>
                    <button class="btn_restart mi_btn color">이어서 작성하기</button>
                </li>
            </ul>


        </div>
    </div>
</div>

<div id="footer"></div>

<script src="https://common.mibank.xyz/build/js/chunk-vendors.js"></script>
<script src="https://common.mibank.xyz/build/js/gnb_ins.js"></script>
<script src="https://common.mibank.xyz/build/js/footer_ins.js"></script>

<script src="/js/common/mi.common.pop.js"></script>
<script src="/js/common.js"></script>

<!-- markup에서만 사용 -->
<script>
// sessionStorage.setItem('mi_device', 'app');
sessionStorage.removeItem('mi_device');

$(function () {
    if (!isMobile) {
        $('body').addClass('desktop');
        $('.lnb_wrap').remove()
    } else {
        $('body').addClass('mobile');
        $('.header-dev').add('#footer').remove();

        if (isApp) {
            $('body').addClass('app');
            $('.lnb_wrap').remove();

            var miAppData = {
                headType: '', // style  - 사용안함
                headColor: '5c8cca', // 네이티브 네비게이션 컬러
                menuColor: 'ffffff', // 햄버거 헤더 컬러 - 사용안함
                subMenuColor: '', // 서브메뉴 컬러 - 사용안함
                miTitle: '해외여행자보험', // 네이티브 네비게이션 타이틀
                miTitleType: 'text', // image or text
                miTitleCode: '', // 서비스 코드
                pathCode1: '', // 현재위치 depth1 - code 임시사용
                pathCode2: '', // 현재위치 depth2 - 사용안함
                menuAdd: true, // 햄버거 메뉴 노출 여부 - 사용안함
                tabMenus: []
            };

            if (typeof isIntro !== 'undefined') { // index
                miAppData.miTitle = '';
                miAppData.headColor = 'ffffff';
            }

            miAppProtocol.call('miAppConnectCall', miAppData);
        }
    }
})
</script>

</body>
</html>
