<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,address=no,email=no" />
    <title>가입증명서</title>
</head>

<body style="margin:0;font-family:Noto Sans KR,'돋움',Arial,sans-serif;">

<div style="margin:0;width:100%;-webkit-print-color-adjust:exact!important;color-adjust:exact!important;page-break-before:avoid">
    <table style="width: 850px; border-collapse: collapse; border-spacing: 0; margin: 75px auto">
        <tr>
            <td style="padding: 0">
                <div style="height: 60px">
                    <img src="/images/mail/logo_mibank.png" width="125">
                </div>

                <div style="padding-top: 13px;padding-left:20px;padding-bottom:10px;background-image:url('/images/mail/bg_title.png');background-repeat:no-repeat; background-position:top left;background-size:850px auto; border-radius: 3px;font-size:18px;font-weight: 500;line-height: 27px;color:#ffffff;">
                    COVID-19 격리비/항공료 보장서비스 가입증명서
                </div>

                <div>
                    <div style="position:relative;margin-top: 50px; margin-bottom: 15px; padding-left: 5px; font-size: 16px; font-weight: bold; line-height: 1; color: #1c1c1c;">
                        <img src="/images/mail/ico_bullet.png" height="9" style="padding-top: 3px; vertical-align: top"> 기본정보
                    </div>

                    <table style="width: 850px; border-collapse: collapse; border-spacing: 0; border-top: 2px solid #4d4d4d; line-height: 1">
                        <colgroup>
                            <col style="width:170px;" />
                            <col style="width:255px;" />
                            <col style="width:170px;" />
                            <col style="width:255px;" />
                        </colgroup>
                        <tr>
                            <th scope="row" style="padding: 13px 0 13px 20px;background-color: #f7f7f7;border-bottom: 1px solid #e6e6e6;font-size: 13px;font-weight: 500;color: #333;line-height: 19px;text-align: left;vertical-align: middle">
                                이름
                            </th>
                            <td style="padding: 13px 20px;border-bottom: 1px solid #e6e6e6;font-size: 13px;color: #555;line-height: 19px;vertical-align: middle; word-wrap: break-word; word-break: break-all">
                                <p style="margin: 0">홍길동(9999년)</p>
                                <p style="margin: 0">홍길동(9999년)</p>
                                <p style="margin: 0">홍길동(9999년)</p>
                            </td>
                            <th scope="row" style="padding: 13px 0 13px 20px;background-color: #f7f7f7;border-bottom: 1px solid #e6e6e6;font-size: 13px;font-weight: 500;color: #333;line-height: 19px;text-align: left;vertical-align: middle">
                                가입기간
                            </th>
                            <td style="padding: 13px 0 13px 20px;border-bottom: 1px solid #e6e6e6;font-size: 13px;color: #555;line-height: 19px;vertical-align: middle">
                                2022-01-11 오전 4시부터 <br>
                                2022-01-19 오전 3시까지
                            </td>
                        </tr>
                    </table>
                </div>

                <div>
                    <div style="position:relative;margin-top: 60px; margin-bottom: 7px; padding-left: 5px; font-size: 16px; font-weight: bold; line-height: 1; color: #1c1c1c;">
                        <img src="/images/mail/ico_bullet.png" height="9" style="padding-top: 3px; vertical-align: top"> 보장내용
                    </div>

                    <p style="margin: 3px 0 13px; padding-left: 19px; font-size: 12px; color: #777; line-height: 18px">귀국전 코로나 양성 판정을 받아, 격리 혹은 국내 입국이 불가능하게 된 경우 보장됩니다 (PCR 48시간 이내, 신속항원 24시간 이내)</p>

                    <table style="width: 850px; border-collapse: collapse; border-spacing: 0; border-top: 2px solid #4d4d4d; line-height: 1">
                        <tr>
                            <td style="padding: 18px 15px 10px; font-size: 13px; color: #333; line-height: 20px;">
                                <strong style="margin-right: 10px; font-size: 14px">격리비</strong>1박당 10만원 정액지급 (최대 100만원)
                                <p style="margin: 5px 10px 0; font-size: 12px; color: #777; line-height: 18px">
                                    1박당 10만원씩 정액 지급하며, 최대 100만원까지 받게 됩니다
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 10px 15px 20px; border-bottom: 1px solid #4d4d4d; font-size: 13px; color: #333; line-height: 20px;">
                                <strong style="margin-right: 10px; font-size: 14px">귀국 항공료</strong>최대 50만원
                                <p style="margin: 5px 10px 0; font-size: 12px; color: #777; line-height: 18px">
                                    귀국 항공권 변경으로 추가비용 발생시 최대 50만원까지 받게 됩니다
                                </p>
                            </td>
                        </tr>
                    </table>

                    <p style="margin: 15px 0 0; padding-left: 7px; font-size: 12px; color: #999; line-height: 18px">* 단, 병원 또는 병원과 연계된 호스피텔에 격리되어 입원 치료를 받는 경우는 의료비로 청구 가능하므로 격리비 지급대상이 아니며, 귀국 항공료만 보상됩니다</p>
                    <p style="margin: 5px 0 0; padding-left: 7px; font-size: 12px; color: #333; line-height: 18px">* COVID-19 확진판정일자로부터 <span style="color: #ce4545">40일내</span>에 청구하셔야 합니다</p>
                    <p style="margin: 5px 0 0; padding-left: 7px; font-size: 12px; color: #999; line-height: 18px">* COVID-19 격리비/항공료 보장은 마이뱅크에서 무료로 제공하는 서비스입니다</p>
                    <p style="margin: 5px 0 0; padding-left: 7px; font-size: 12px; color: #999; line-height: 18px">* 자세한 보장내용 및 유의사항은 <a href="#" style="color: #1c1c1c">약관</a>을 확인바랍니다</p>
                </div>

                <div style="margin-top: 80px; font-size: 18px; font-weight: 500; color: #333; text-align: center">
                    마이뱅크는 서민지님외 2명께 <span style="color: #ce4545">COVID-19 격리비/항공료 보장서비스</span>를 제공함을 확인합니다
                </div>

                <div style="margin-top: 50px; float: right">
                    <div style="font-size: 22px; color: #333">마이뱅크주식회사</div>
                    <div><span style="font-size: 14px; color: #333; line-height: 50px; vertical-align: top">대표이사</span><span style="margin: 0 7px 0 10px; font-size: 22px; color: #333; line-height: 50px; vertical-align: top">고 용</span><img src="/images/mail/signature_mibank.png" height="50"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>