<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,address=no,email=no" />
    <link rel="stylesheet" href="/css/certificate_en.css">
    <title>가입증명서</title>
</head>

<body>

<div class="wrap">
    <h1 class="top_logo">
        <img src="/images/mail/logo_db_en.png" width="248" title="DB손해보험">
        <div class="addr">432, Teheran-ro, Gangnam-gu, Seoul, Republic of Korea</div>
    </h1>

    <h2 class="doc_title">OVERSEAS TRAVELLER'S INSURANCE CERTIFICATION</h2>

    <div class="section info">
        <div class="policy_no"><strong>POLICY NO :</strong> 120200650711</div>

        <table class="tb_cert">
            <colgroup>
                <col style="width:170px">
                <col style="width:305px">
                <col style="width:170px">
                <col style="width:305px">
            </colgroup>

            <tr>
                <th>INSURED</th>
                <td>Hong Gil Soon(07 FEB 1989)</td>
                <th>DESTINATION</th>
                <td>Thailand</td>
            </tr>
            <tr>
                <th>FORM OF BUSINESS</th>
                <td colspan="3">
                    <span><em class="c__blue">■</em> Individual</span>
                    <span><em class="c__blue">□</em> Partnership</span>
                    <span><em class="c__blue">□</em> Joint Venture</span>
                    <span><em class="c__blue">□</em> Organization (Other Than Partnership or Joint Venture)</span>
                </td>
            </tr>
            <tr>
                <th>POLICY PERIOD</th>
                <td colspan="3">From 12 AUG 2022 To 31 AUG 2022 Standard Time at South Korea (GMT+9)</td>
            </tr>
        </table>

        <ul class="desc">
            <li class="bullet">The Company is Liable only for Benefits indicated by the amount insured</li>
            <li class="bullet">This insurance covers the insured’s trip to <strong>anywhere in the world, including Thailand</strong>, but excluding travel ban countries and Level 3 travel warning areas designated by Korea Ministry of Foreign Affairs.</li>
        </ul>
    </div>

    <div class="section coverage">
        <h3 class="section_tit"><img src="/images/mail/ico_bullet.png" height="9"> COVERAGE</h3>

        <table class="tb_cert border_r">
            <colgroup>
                <col style="width: 190px">
                <col style="width: 135px">
                <col style="width: 285px">
                <col style="width: 160px">
                <col style="width: 180px">
            </colgroup>

            <tr>
                <th colspan="3"></th>
                <th>AMOUNT INSURED</th>
                <th class="border_r_0">DEDUCTIBLE</th>
            </tr>
            <tr class="c__blue">
                <td colspan="3">Overseas Medical Expenses by Disease<span class="c__red">(covering COVID-19 treatment)</span></td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr>
                <td colspan="3">Overseas Medical Expenses by Accident</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr class="c__blue">
                <td colspan="3">Special Expenses(Evacuation and Repatriation)</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr>
                <td colspan="3">Extended Lodging Expenses due to COVID-19 Quarantine</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr>
                <td colspan="3">Additional Cost for a Flight due to COVID-19 Quarantine</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr>
                <td colspan="3">Death by Accident</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr>
                <td colspan="3">Permanent Disability by Accident</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr>
                <td colspan="3">Death by Disease and Above 80% Permanent Disability by Disease</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr>
                <td colspan="3">Flight/Baggage Delay Compensation</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr>
                <td colspan="3">Damage of Personal Effects(Excluding Lost)</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right">₩10,000</td>
            </tr>
            <tr>
                <td colspan="3">Liability</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right">₩10,000</td>
            </tr>
            <tr>
                <td colspan="3">Travel Cancellation and Curtailment Special Clause</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr>
                <td colspan="3">Specific Infectious Disease Compensation Special Clause</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr>
                <td colspan="3">Food Poisoning Compensation Special Clause</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr>
                <td colspan="3">Passport Reissuance Costs</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr>
                <td colspan="3">Sky Jacking</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right"></td>
            </tr>
            <tr>
                <td rowspan="7" class="dp1"><strong>Medical Expenses<br>in Korea</strong><br>(Accident/Sickness)</td>
                <td rowspan="2" class="dp2">Hospitalization</td>
                <td>covered</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right">Terms and Conditions</td>
            </tr>
            <tr>
                <td>non-covered</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right">Terms and Conditions</td>
            </tr>
            <tr>
                <td rowspan="2">Outpatient</td>
                <td>covered</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right">Terms and Conditions</td>
            </tr>
            <tr>
                <td>non-covered</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right">Terms and Conditions</td>
            </tr>
            <tr>
                <td colspan="2">Chiropractic, ESWT, Prolotherapy</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right">Terms and Conditions</td>
            </tr>
            <tr>
                <td colspan="2">MRI/MRA</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right">Terms and Conditions</td>
            </tr>
            <tr>
                <td colspan="2">Injection</td>
                <td class="t__right">US$30,000</td>
                <td class="border_r_0 t__right">Terms and Conditions</td>
            </tr>
        </table>
    </div>

    <div class="section signature">
        <ul class="desc">
            <li>This Policy of Insurance witness DB Insurance Co., Ltd. Seoul, Korea has concluded a Overseas Traveller's insurance contract with the Policy-holder as above subject to the conditions expressed in and endorsed upon this Policy.</li>
            <li class="bullet">Traveller's Assist 24 Hours Service (Direct toll free) 82-2-3140-1722</li>
        </ul>

        <div class="img_wrap"><img src="/images/mail/signature_db_en.png" width="173"></div>
    </div>
</div>

</body>
</html>