<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no,address=no,email=no" />
    <title>보험금청구서류</title>
</head>

<body style="margin:0;">

<div style="margin:0;width:100%;-webkit-print-color-adjust:exact!important;color-adjust:exact!important;page-break-before:avoid;font-family:Noto Sans KR,'맑은고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',sans-serif">
    <table style="width: 850px; border-collapse: collapse; border-spacing: 0; margin: 0 auto"><tr><td style="padding: 0">
        <div style="padding-top: 13px;padding-left:20px;padding-bottom:10px;background: url(/images/mail/bg_title.png) no-repeat top left / 850px auto; border-radius: 3px;font-size:18px;font-weight: 500;line-height: 27px;color:#ffffff;">
            해외여행자보험 보험금청구 구비서류 안내
        </div>

        <table style="width: 850px; border-collapse: collapse; margin-top: 30px; border-spacing: 0; border-top: 2px solid #4d4d4d; line-height: 1; vertical-align:middle;">
            <colgroup>
                <col style="width: 90px">
                <col style="width: 90px">
                <col style="width: 80px">
                <col>
                <col style="width: 45px">
                <col style="width: 130px">
            </colgroup>

            <tr>
                <th colspan="3" style="background-color: #fff5d5; border-bottom: 1px solid #b6b6b6; font-size: 13px; color: #1c1c1c">기본서류</th>
                <td style="padding: 16px 20px; background-color: #fffbef; border-bottom: 1px solid #b6b6b6; font-size: 13px; color: #1c1c1c; line-height: 19px; padding-left: 28px; text-indent: -8px; word-break: keep-all">
                    <div>- 보험금청구서 및 개인정보동의서</div>
                    <div>- 청구인 신분증</div>
                    <div>- 출입국증명자료 (ex. 여권출입국도장, 비행기티켓, <br>출입국에 관한 사실증명서 등)</div>
                    <div>- 미성년자의 경우 : 법정대리인의 신분증, 통장사본, 가족관계증명서</div>
                </td>
                <td colspan="2" style="padding: 16px 0; background-color: #fffbef; border-bottom: 1px solid #b6b6b6; vertical-align: top">
                    <a href="#" style="display: inline-block"><img src="/images/mail/btn_required_01.png" height="34"/></a>
                    <a href="#" style="display: inline-block; margin-top: 2px"><img src="/images/mail/btn_required_02.png" height="34"/></a>
                </td>
            </tr>

            <tr>
                <th rowspan="10" style="background-color: #f7f7f7; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #b6b6b6; font-size: 13px; color: #333">추가서류</th>
                <th colspan="2" style="background-color: #f7f7f7; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #333">해외의료비</th>
                <td colspan="3" style="padding: 16px 20px; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #555; line-height: 19px; word-break: keep-all">
                    - 진료내역을 확인할 수 있는 서류<br>
                    - 처방전(약품구입시)<br>
                    - 영수증<br>
                    * 진료내역과 진료비용이 제출서류에서 확인되지 않는 경우, 추가증빙서류 요청이 있을 수 있습니다
                </td>
            </tr>

            <tr>
                <th colspan="2" style="background-color: #f7f7f7; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #333">국내의료비</th>
                <td colspan="3" style="padding: 16px 20px; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #555; line-height: 19px; word-break: keep-all">
                    - 진료비 세부내역서(병원 발급)<br>
                    - 처방전(약품구입시)<br>
                    - 영수증<br>
                    * 진료내역과 진료비용이 제출서류에서 확인되지 않는 경우, 추가증빙서류 요청이 있을 수 있습니다
                </td>
            </tr>

            <tr>
                <th rowspan="3" style="background-color: #f7f7f7; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #333">휴대물품</th>
                <th style="background-color: #f7f7f7; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #333">공통</th>
                <td colspan="2" style="padding: 16px 20px; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #555; line-height: 19px; word-break: keep-all; padding-left: 28px; text-indent: -8px">
                    <div>- 사고경위서</div>
                    <div>- 도난(파손)확인서</div>
                    <div>- 목격자확인서(동행자/가족도 작성가능, 목격자 없을 시 생략)</div>
                    <div>
                        - 피해물품 휴대폰인 경우 통신사 가입확인서류
                        <div style="text-indent: 0">(통신사 홈페이지 또는 대리점에서 발급)</div>
                        <div style="color: #777; text-indent: 0">
                            * SKT - 이용계약등록사항 증명서<br>
                            * KT - 가입원부증명서<br>
                            * LGU+ - 가입확인서 또는 해지확인서
                        </div>
                    </div>
                </td>
                <td style="padding: 16px 0 0;border-bottom: 1px solid #e6e6e6;font-size: 13px;color: #555;line-height: 19px;vertical-align: top; text-align: right">
                    <a href="#" style="display: inline-block"><img src="/images/mail/claim_paper02.png" width="130"/></a>
                </td>
            </tr>

            <tr>
                <th style="background-color: #f7f7f7; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #333">파손</th>
                <td colspan="3" style="padding: 16px 20px; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #555; line-height: 19px; word-break: keep-all">
                    - 피해물품사진<br>
                    - 수리비 견적서 및 영수증<br><br>

                    <strong>수리불가시</strong><br>
                    - 수리불가 의견서(지정 양식 없음, 서비스 담당자가 작성후 명함 첨부)
                    <div>
                        - 피해물품 구입영수증(휴대폰인 경우 생략)
                        <div style="padding-left: 8px; color: #777">* 구입영수증이 없을 경우, 사고경위서에 피해물품의 제조사, 제품명, 구입일자, 구입가격 기재</div>
                    </div>
                </td>
            </tr>

            <tr>
                <th style="background-color: #f7f7f7; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #333">도난</th>
                <td colspan="3" style="padding: 16px 20px; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #555; line-height: 19px; word-break: keep-all">
                    - 도난확인서(현지경찰에 신고하여 발급받음)
                    <div>
                        - 피해물품 구입영수증(휴대폰인 경우 생략)
                        <div style="padding-left: 8px; color: #777">* 구입영수증이 없을 경우, 사고경위서에 피해물품의 제조사, 제품명, 구입일자, 구입가격 기재</div>
                    </div>
                </td>
            </tr>

            <tr>
                <th colspan="2" style="background-color: #f7f7f7; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #333">항공기 지연/결항</th>
                <td colspan="3" style="padding: 16px 20px; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #555; line-height: 19px; word-break: keep-all">
                    - 지연/결항확인서(항공서 발급)<br>
                    - 비행기 티켓(변경전 티켓과 지연/결항으로 변경된 일정의 티켓 함께 첨부)<br>
                    - 지연/결항에 따른 비용지출 영수증(지출내역 및 시간이 표시되어야 함)
                </td>
            </tr>

            <tr>
                <th colspan="2" style="background-color: #f7f7f7; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #333">항공위탁수하물 도착지연</th>
                <td colspan="3" style="padding: 16px 20px; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #555; line-height: 19px; word-break: keep-all">
                    - 수하물 지연확인서(항공사 발급: 지연사유, 수하물 발송시간 필수 기재)<br>
                    - 비행기 티켓<br>
                    - 지연에 따른 비용지출 영수증(지출내역 및 시간이 표시되어야 함)
                </td>
            </tr>

            <tr>
                <th colspan="2" style="background-color: #f7f7f7; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #333">배상책임(대물)</th>
                <td colspan="2" style="padding: 16px 20px; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #555; line-height: 19px; word-break: keep-all">
                    - 주민등록등본<br>
                    - 사고경위서<br>
                    - 선배상확인서<br>
                    - 수리비 견적서 및 영수증<br>
                    - 피해물품사진
                </td>
                <td style="padding: 16px 0 0;border-bottom: 1px solid #e6e6e6;font-size: 13px;color: #555;line-height: 19px;vertical-align: top; text-align: right">
                    <a href="#" style="display: inline-block"><img src="/images/mail/claim_paper02.png" width="130"/></a>
                </td>
            </tr>

            <tr>
                <th colspan="2" style="background-color: #f7f7f7; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #333">배상책임(대인)</th>
                <td colspan="2" style="padding: 16px 20px; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #555; line-height: 19px; word-break: keep-all">
                    - 주민등록등본<br>
                    - 사고경위서
                </td>
                <td style="padding: 16px 0 0;border-bottom: 1px solid #e6e6e6;font-size: 13px;color: #555;line-height: 19px;vertical-align: top; text-align: right">
                    <a href="#" style="display: inline-block"><img src="/images/mail/claim_paper02.png" width="130"/></a>
                </td>
            </tr>

            <tr>
                <th colspan="2" style="background-color: #f7f7f7; border-bottom: 1px solid #b6b6b6; font-size: 13px; color: #333">여권분실</th>
                <td colspan="2" style="padding: 16px 20px; border-bottom: 1px solid #b6b6b6; font-size: 13px; color: #555; line-height: 19px; word-break: keep-all">
                    - 사고경위서<br>
                    - 재발급 받은 여권사본<br>
                    - 여행증명서 발급비용 및 여권 재발급비용 지급증빙
                </td>
                <td style="padding: 16px 0 0;border-bottom: 1px solid #b6b6b6;font-size: 13px;color: #555;line-height: 19px;vertical-align: top; text-align: right">
                    <a href="#" style="display: inline-block"><img src="/images/mail/claim_paper02.png" width="130"/></a>
                </td>
            </tr>
        </table>

        <div style="margin-top: 30px">
            <h3 style="margin: 0; font-size: 16px; color: #1c1c1c; line-height: 50px">
                <span style="margin-right: 6px; line-height: 50px; vertical-align: top"><img src="/images/mail/ico_bullet_02.png" width="7" style="margin-top: -3px; vertical-align: middle"></span>COVID-19 격리비/항공료 보장
            </h3>

            <table style="width: 850px; border-collapse: collapse; border-spacing: 0; border-top: 2px solid #4d4d4d; line-height: 1; vertical-align:middle;">
                <colgroup>
                    <col style="width: 90px">
                    <col style="width: 170px">
                    <col>
                    <col style="width: 130px">
                </colgroup>

                <tr>
                    <th colspan="2" style="background-color: #fff5d5; border-bottom: 1px solid #b6b6b6; font-size: 13px; color: #1c1c1c">기본서류</th>
                    <td style="padding: 16px 20px; background-color: #fffbef; border-bottom: 1px solid #b6b6b6; font-size: 13px; color: #1c1c1c; line-height: 19px; padding-left: 28px; text-indent: -8px; word-break: keep-all">
                        <div>- 해외체류연장비용(COVID-19격리비/항공료보장) 청구서</div>
                        <div>- 개인정보동의서</div>
                        <div>- 코로나 양성진단지(확진자 이름, 검사일자 및 검사기관 포함)</div>
                        <div>
                            - 기발행된 귀국항공권 및 변경된 귀국항공권<br>
                            (출발일, 도착일, 출발지역, 도착지역 포함)
                        </div>
                        <div>- 청구인신분증, 통장사본</div>
                        <div>
                            - 확진자가 미성년자인 경우 :<br>
                            법정대리인의 신분증, 통장사본, 가족관계증명서
                        </div>
                    </td>
                    <td style="padding: 16px 0 0;background-color: #fffbef;border-bottom: 1px solid #b6b6b6;font-size: 13px;color: #555;line-height: 19px;vertical-align: top; text-align: right">
                        <a href="#" style="display: inline-block"><img src="/images/mail/claim_paper02.png" width="130"/></a>
                    </td>
                </tr>

                <tr>
                    <th rowspan="2" style="background-color: #f7f7f7; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #b6b6b6; font-size: 13px; color: #333">추가서류</th>
                    <th style="background-color: #f7f7f7; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #333">격리비</th>
                    <td colspan="2" style="padding: 16px 20px; border-bottom: 1px solid #e6e6e6; font-size: 13px; color: #555; line-height: 19px; word-break: keep-all">
                        - 숙박일자가 포함된 영수증
                    </td>
                </tr>

                <tr>
                    <th style="background-color: #f7f7f7; border-bottom: 1px solid #b6b6b6; font-size: 13px; color: #333">귀국 항공료</th>
                    <td colspan="2" style="padding: 16px 20px; border-bottom: 1px solid #b6b6b6; font-size: 13px; color: #555; line-height: 19px; word-break: keep-all">
                        <div>- 항공권이 변경된 경우 : 변경시 발생한 추가 지출에 대한 내역(영수증 등)</div>
                        <div>- 항공권이 취소된 경우 : 취소위약금 증빙서류 및 변경된 귀국항공권 발행 비용에 대한 내역(영수증 등)</div>
                        <div style="padding-left: 8px; text-indent: -8px">
                            - 항공권이 취소 불가능한 경우 : 취소 불가능 티켓에 대한 증빙자료<br>
                            (항공사 메일 또는 취소불가 티켓임이 확인 가능한 서류)
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div style="margin-top: 30px">
            <h3 style="margin: 0; font-size: 16px; color: #1c1c1c; line-height: 50px">
                <span style="margin-right: 6px; line-height: 50px; vertical-align: top"><img src="/images/mail/ico_bullet_02.png" width="7" style="margin-top: -3px; vertical-align: middle"></span>청구서류 접수 안내
            </h3>

            <table style="width: 850px; border-collapse: collapse; border-spacing: 0; margin: 0; background: #f7f7f7">
                <tr>
                    <td style="padding: 25px 20px; font-size: 13px; color: #555; line-height: 19px">
                        <strong>* 이메일 접수</strong> : mibank@dasca.com (서류를 스캔하거나 사진을 찍어 첨부)<br>
                        <strong>* 팩스 접수</strong> : 0505-180-0211<br>
                        <strong>* 고객상담</strong> : contact@mibankins.com 또는 02-6925-1517<br>
                        <strong>* 여러 건의 보상을 청구하시는 경우</strong>, 중복되는 기본서류는 한 개만 제출하셔도 됩니다
                    </td>
                </tr>
            </table>
        </div>

    </td></tr></table>
</div>
</body>
</html>
