<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="format-detection" content="telephone=no">
<title></title>
<meta name="title" content="">
<meta name="description" content="">

<meta property="og:title" content="">
<meta property="og:type" content="article">
<meta property="og:url" content="">
<meta property="og:image" content=""/>
<meta property="og:site_name" content="">
<meta property="og:description" content="">

<link href="https://common.mibank.xyz/build/js/footer_ins.js" rel="preload" as="script">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/style.css">
<script src="/js/lib/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="heaer">
    </div>
    <div class="wrap">
        <div id="container">

        </div>
    </div>
    <div id="footer"></div>
</body>
</html>
