@charset "UTF-8";

a.btn_prev {
    @include set-font(14px, $c-point);
    display: inline-block;
    padding-top: 20px;

    &:before {
        @include arrow-left(6px, 2px, $c-point);
        content: '';
        position: relative;
        top: -2px;
        margin-right: 4px;
    }
}

.contents_step {
    padding-top: 20px;
    background:$white;
    z-index: 100;

    &.with_title {
        text-align: center;
        position: relative;
        padding-bottom: 12px;
        border-bottom: 1px solid #eeeeee;
        font-size: 15px;
        color: $dark;


        .btn_prev {
            position: absolute;
            left: 0;
        }
    }

    @at-root .mobile & {
        position: sticky;
        top: $h-header-title + $h-header-tab;

        &.none_fix {
            position: static;
        }

        &.shadow:not(.none_fix) {
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        }

        &.no_tab{
            top: $h-header-title;
        }
    }

    @at-root .app & {
        top: $h-header-tab;
        &.no_tab{
            top:0;
        }
    }

    .btn_prev {
        padding-top:0;
    }

    .step {
        display: flex;
        height: 70px;
        padding-top: 14px;
        background-color: $white;
        z-index: 55;

        li {
            flex: 1;
            position: relative;
            font-size: 0;
            text-align: center;

            span {
                display: inline-block;
                position: relative;
                z-index: 2;
            }

            &:not(:first-child)::before {
                content: '';
                position: absolute;
                top: 10px;
                right: 50%;
                width: 100%;
                height: 1px;
                background-color: #ddd;
                z-index: 1;
            }
        }

        .idx {
            width: 20px;
            height: 20px;
            background-color: #ddd;
            border-radius: 50%;
            font-size: 12px;
            line-height: 20px;
            color: $white;
        }

        .txt {
            width: 100%;
            margin-top: 2px;
            font-size: 13px;
            letter-spacing: -0.31px;
            color: #ddd;
        }

        @for $i from 1 to 6 {
            &.step#{$i} {
                li:nth-child(-n + #{$i}) {
                    &::before,
                    .idx {
                        background-color: $c-point;
                    }

                    .txt {
                        color: #555;
                    }
                }
            }
        }
    }
}
