@charset "UTF-8";

.mi_check {
    display: inline-flex;
    justify-content: center;
    position: relative;


    &.col {
        flex-direction: column;
        align-items: center;
    }

    &:not(.disabled) {
        cursor: pointer;
    }

    & + & {
        margin-left: 8px;
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        visibility: hidden; //ie 대응

        &:disabled {
            & ~ .text {
                color: #ddd;
            }
            & ~ .ico_square:before {
                background-image: url($img-path-components + 'ico_check_disabled.png');
                background-color: #f9f9f9;
            }
        }

        &:checked {
            & ~ .ico_circle {
                background-color: $c-point;
                background-image: url($img-path-components + 'ico_circle_on.png');
                border-color: $c-point
            }

            & ~ .ico_circle_inner {
                background-image: url($img-path-components + 'ico_circle_inner_on.png');
            }

            & ~ .ico_check {
                background-image: url($img-path-components + 'ico_check_on.png');
            }

            & ~ .ico_square:before {
                background-image: url($img-path-components + 'ico_check_on.png');
                border-color: $c-light_blue;
            }

            & ~ .text {
                color: $dark
            }
        }
    }

    %ico {
        display: inline-block;
        width: 26px;
        height: 26px;
        vertical-align: top;

        & + .text {
            margin-left: 6px
        }
    }

    .ico_circle {
        @extend %ico;
        background: $white url($img-path-components + 'ico_circle.png') no-repeat center / 12px auto;
        border: 1px solid #ddd;
        border-radius: 50%;
    }

    .ico_circle_inner {
        @extend %ico;
        background: $white url($img-path-components + 'ico_circle_inner.png') no-repeat center / 26px auto;
    }

    .ico_check {
        @extend %ico;
        background: url($img-path-components + 'ico_check.png') no-repeat center / 12px auto;
    }

    .ico_square {
        @extend %ico;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 20px;
            height: 20px;
            background: $white url($img-path-components + 'ico_check.png') no-repeat center / 12px auto;
            border: 1px solid #ddd;
            border-radius: 2px;
        }
    }

    .text {
        flex: 1;
        color: #777;
        line-height: 26px;
        word-break: break-all;

        & + [class^="ico"] {
            margin-left: 6px
        }
    }


    &.box {
        display: block;
        position: relative;
        margin: 0;
        width: 100%;

        & + .box {
            margin-top: 12px;
        }
        .ico_circle {
            position: absolute;
            left: 20px;
            top: 20px;
        }

        input:checked ~ div {
            background: #fff;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
            border: solid 1px #abc3e2;
        }
        .contents {
            border: 1px solid #dddddd;
            background: #f9f9f9;
            padding: 22px 0 20px 52px;
            border-radius: 4px;
            .item_tit {
                margin-bottom: 3px;
                color: $dark;
                font-weight: 700;
            }
            dl {
                display: table;
                width: 100%;

                & + dl {
                    margin-top: 6px;
                }
                dd,dt {
                    display: table-cell;
                }
                dt {
                    width: 95px;
                    color: #777777;
                }
                dd{
                    color: $dark;
                }
            }
        }
    }
}

.check_group {
    &.row,
    &.tab,
    &.bar,
    &.button,
    &.confirm,
    &.mi_button,
    &.list {
        display: flex;
        .mi_check {
            flex: 1;
            margin: 0
        }
    }

    &.row {
        flex-direction: column;
        .mi_check {
            & + .mi_check {
                margin-top: 10px;
            }
        }
    }

    &.tab {
        .mi_check {
            height: 70px;
            margin: 10px 0 0 -1px;
            padding: 13px 15px;
            border: 1px solid #ddd;
            border-bottom-color: $c-point;
            background: #fafafa;
            font-size: 14px;

            &:first-child {
                margin-left: 0;
                border-top-left-radius: 4px;
            }

            &:last-child {
                border-top-right-radius: 4px;
            }

            &.checked {
                height: 80px;
                margin-top: 0;
                background: $white;
                border-color: $c-point;
                border-bottom: 0;
                border-radius: 4px 4px 0 0;
                z-index: 1;

                .ico_circle {
                    display: inline-block;
                    position: absolute;
                    top: 9px;
                    right: 12px
                }
            }
        }

        .ico_circle {
            display: none;
        }
    }

    &.bar,
    &.button,
    &.confirm {
        .mi_check {
            padding: 10px;
            background: $white;
            border: 1px solid $c-border-default;
            border-radius: $default-border-radius;

            &.checked {
                border-color: $c-point;
                color: $c-point;
                z-index: 1;
            }
        }
    }

    &.bar {
        .mi_check {
            margin-left: -1px;
            border-radius: 0;
            text-align: center;

            &:first-child {
                margin-left: 0;
                border-radius: $default-border-radius 0 0 $default-border-radius;
            }

            &:last-child {
                border-radius: 0 $default-border-radius $default-border-radius 0;
            }

            &.disabled {
                background: #f9f9f9;

                &.checked {
                    border-color: $c-light_blue;
                }
            }

            &.checked {
                background-color: $c-active-btn-white-bg;
            }
        }
    }

    &.button,
    &.confirm,
    &.mi_button {
        &:not(.row) {
            .mi_check + .mi_check {
                margin-left: 10px;
            }
        }
    }

    &.button {
        .mi_check {
            &.disabled {
                background: #fafafa;

                .text {
                    color: #b6b6b6
                }

                .ico_circle {
                    background-color: #fafafa;
                }
            }
        }

        .text {
            color: #999
        }
    }

    &.confirm {
        text-align: center;

        .mi_check {
            padding: 6px;
            border-color: $c-light_blue;

            &.checked {
                background-color: $c-active-btn-white-bg;

                .ico_check {
                    display: inline-block;
                    margin-left: -9px;
                    background-image: url($img-path-components + 'ico_check_confirm_on.png');
                }

                .text {
                    color: $c-point;
                }
            }
        }

        .bad {
            border-color: $c-border-default;

            .text {
                color: #555
            }
        }

        .good {
            border-color: #cdcfd9;
        }

        .ico_check {
            display: none;
        }

        .text {
            flex: none;
            margin-left: 0;
            font-size: 14px;
            color: $c-point;
        }
    }

    &.list {
        flex-direction: column;

        .mi_check {
            padding: 9px 8px 9px 10px;

            &:hover {
                background-color: #f4f7fb;
            }

            input:checked {
                & ~ .ico_check {
                    background-image: url($img-path-components + 'ico_check_list_on.png');
                }

                & ~ .text {
                    font-weight: bold;
                    color: $c-point
                }
            }

            & + .mi_check {
                margin-top: 5px;
            }
        }

        .ico_check {
            height: 22px;
            background-image: url($img-path-components + 'ico_check_list.png');
        }

        .text {
            color: $dark;
            line-height: 22px;
        }
    }

    &.capsule {
        display: inline-block;
        height: 30px;
        padding: 1px;
        border-radius: 15px;
        border: solid 1px #ddd;
        background-color: #eee;

        input:checked {
            & ~ .text {
                @include btn-height(26px);
                border: 1px solid #555;
                border-radius: 13px;
                font-weight: bold;
                color: $white
            }

            & ~ .off {
                background: #777;
            }

            & ~ .active {
                background: $c-point;
                border-color: #4c7ebf;
            }
        }

        .mi_check {
            margin: 0;
            vertical-align: top;
        }

        .text {
            @include set-font(13px, #b6b6b6);
            padding: 0 8px;
        }
    }

    &.init {
        .text {
            color: #333
        }
    }

}
