@charset "UTF-8";

.mi_input {
    flex: 1;
    width: 100%;
    height: 44px;
    padding: 0 9px;
    background-color: $white;
    border: 1px solid $c-border-default;
    border-radius: $default-border-radius;
    font-size: 16px;
    color: $dark;

    @include media(sm) {
        padding: 0 8px;
    }

    &.error {
        border-color: #de4343;
    }

    &.select {
        @include ellipsis;
        padding-right: 26px;
        background: $white url($img-path-components + 'ico_select.png') no-repeat right 0 center /26px auto;

        &.init {
            color: $c-placeholder;

            option {
                color: $dark;
            }
        }

        &::-ms-expand { //ie 화살표 감추기
            display: none
        }

        &::-ms-value { // ie selectbox value or placeholder 색상 설정
            background-color: transparent;
            color: $dark;
        }

        &:not(:disabled):not(.disabled) {
            cursor: default;
        }
    }

    &.search {
        border-radius: 0;
        border-width: 0 0 1px 0;

        &:focus {
            box-shadow: none;

            & + .btn_search {
                border-bottom: 1px solid $c-point;
            }
        }

        & + .btn_search {
            height: 44px;
            width: 44px;
            border-bottom: 1px solid $c-border-default;
        }
    }

    &.datepicker {
        background: url($img-path-components + "ico_datepicker.png") no-repeat center right 14px/19px auto;

        @include media(sss) {
            background-position: center right 11px;
        }

        &:not(:disabled) {
            cursor: pointer;
        }

        &:focus {
            border-color: $c-point;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        }
    }

    &:not([readonly]):focus,
    &:not([readonly]):focus-within {
        border-color: $c-point;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }

    &:-moz-focusring { // 셀렉박스 안쪽 아웃라인 없애기
        outline: none;
        text-shadow: 0 0 0 #000;
    }

    &::placeholder {
        color: $c-placeholder;
        opacity: 1;
    }

    &:disabled,
    &.disabled {
        @include ellipsis;
        background-color: $c-disabled-input-bg;
        opacity: 1;
        -webkit-text-fill-color: $dark;
    }
}

.input_group {
    display: flex;

    & + .input_group {
        margin-top: 17px;
    }

    // label width 100%
    &.full {
        display: block;

        .input_label {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            padding: 0;
        }
    }

    &.col2 {
        flex-wrap: wrap;

        .input_box {
            flex: 0 0 auto;
            flex-basis: calc(50% - 5px); // ie 대응 - calc 사용시 분리

            &:nth-child(n + 3) {
                margin-top: 17px;
            }

            &:nth-child(2n - 1) {
                margin-right: 10px
            }
        }
    }
}

.input_label {
    flex-shrink: 0;
    width: 95px;
    padding-top: 10px;
    font-size: 15px;

    &.sub {
        padding-top: 0;

        em {
            display: block;
            font-size: 13px;
            color: #999;
        }
    }

    @include media(ss) {
        width: 77px;
        font-size: 15px;
    }

    @include media(sss) {
        width: 77px;
        font-size: 14px;
    }
}

.input_box {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    &.none_flex {
        display: block;
    }

    &.not_yet {
        position: relative;

        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    .mi_input {
        & + .mi_btn {
            margin-left: 10px;
        }
    }

    .mi_btn {
        @include btn-height(44px);
        font-size: 14px;

        & + .mi_input {
            margin-left: 10px;
        }
    }

    .check_group {
        flex: 1;

        &:last-child:not(:first-child) {
            margin-left: 10px;
        }
    }

    .mi_check {
        padding: 8px !important;
    }

    .ma_b {
        margin-bottom: 10px;
    }
}

.input_connect {
    flex: 0 0 20px;
    text-align: center;
    line-height: 44px;
}

.input_noti {
    @include set-font(13px, #777);
    width: 100%;
    margin-top: 10px;
    word-break: keep-all;

    &.bullet {
        @include text-indent(-8px)
    }

    &.full {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.drop_select_wrap {
    position: relative;
    display: block;

    .drop_down_conts {
        position: absolute;
        z-index: 2;
        top: 53px;
        background: #fff;
        border: 1px solid #abc3e2;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        width: 100%;
    }

    .drop_select {
        padding: 6px 26px 6px 9px;
        height: auto;
        min-height: 44px;
        white-space : normal;
        flex: 1;
        width: 100%;
        border: 1px solid $c-border-default;
        border-radius: $default-border-radius;
        font-size: 16px;
        color: $dark;
        background: url($img-path-components + 'ico_select.png') no-repeat right 0 center /26px auto , $white;

        &.active {
            border-color: $c-point;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background: url($img-path-components + 'ico_select_active.png') no-repeat right 0 center /26px auto , $white;
        }

        .default {
            line-height: 32px;
        }


    }

    .checked_item {
        display: inline-block;
        margin: 3px;
        height: 26px;
        line-height: 26px;
        padding: 0 28px 0 10px;
        background: #ffe72f;
        border-radius: 20px;
        font-size: 14px;
        word-break: keep-all;
        position: relative;

        .close {
            width: 16px;
            height: 16px;
            position: absolute;
            right: 6px;
            top: 6px;
            background: url($img-path-components + "btn_cancel.png") no-repeat center / 8px;
        }
    }

    .drop_down_conts {
        display: none;

        overflow: hidden;
        .mi_btn {
            background: #236bb2;
            border-color: #236bb2;
            border-radius: 0;
            height: 55px;
            line-height: 53px;
            font-size: 17px;
            &:disabled {
                background: #d8dee8;
                border-color: #d8dee8;
            }
        }

        .cs_scroll {
            padding-top: 10px;
            padding-bottom: 15px;
        }

        .mi_check {
            width: 100%;
            margin: 0;
            padding-left: 20px !important;
        }
    }
}

.mi_textarea {
    flex: 1;
    width: 100%;
    height: 117px;
    padding: 10px;
    background-color: $white;
    border: 1px solid $c-border-default;
    border-radius: $default-border-radius;
    font-size: 16px;
    color: $dark;
    resize: none;
    &.error {
        border-color: #de4343;
    }
    &:not([readonly]):focus,
    &:not([readonly]):focus-within {
        border-color: $c-point;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }

    &:-moz-focusring { // 셀렉박스 안쪽 아웃라인 없애기
        outline: none;
        text-shadow: 0 0 0 #000;
    }

    &::placeholder {
        color: $c-placeholder;
        opacity: 1;
    }

    &:disabled,
    &.disabled {
        @include ellipsis;
        background-color: $c-disabled-input-bg;
        opacity: 1;
        -webkit-text-fill-color: $dark;
    }
}
