.ct_claim_accident_detail{
    .part_title {
        position: relative;
        color: #5c8cca;
        font-size: 17px;
        margin-bottom: 15px;
        padding-top: 30px;

        .num {
            background: #5c8cca;
            display: inline-block;
            margin-left: 6px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            line-height: 18px;
            padding: 0 6px;
            font-size: 13px;
            color: #fff;
            height: 20px;
            vertical-align: top;
            margin-top: 4px;
        }
    }

    .btn_wrap {
        margin-top: 40px;
    }

    .input_box.col2 {
        .mi_input + .mi_input {
            margin-left: 10px;
        }
    }

    .input_group {
        padding-right: 4px;

        .data_item + .data_item {
            margin-top: 15px;
        }

        .data_group_input {
            &.direct {
                color: #b6b6b6;
            }
        }

        .direct_input {
            min-width: 100%;
            margin-top: 8px;
            margin-left: 0;
            .mi_input {
                max-width: calc( 100% - 90px );
            }
        }
    }

    .add_cmt {
        margin-bottom: 25px;
        font-size: 13px;
        color: #777;
        margin-top: -9px;
    }

    .input_label ~ .input_box {
        padding-left: 10px;
    }

    .btn_add {
        font-size: 15px;
        border-radius: 22.5px;
        border: solid 1px #ddd;
        text-align: center;
        padding: 12px 0;
        width: 145px;
        background: url( $img-path + "ico_btn_add.png") no-repeat 35px center / 13px;
        margin-top: 25px;
        &:before{
            margin-right:10px
        }
    }

    .btn_delete_item {
        background: #777777;
        border-color: #777777;
        &:disabled {
            background: #dfdfdf;
            border-color: #dfdfdf;
        }
    }

    .btn_delete_acc {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 14px;
        color: #777777;
        background: url( $img-path + "ico_btn_delete.png") no-repeat left center/15px auto;
        padding-left: 19px;
    }

    .input_label{
        position: relative;
        font-size: 14px;
    }
    .btn_add_item {
        color: $c-point;
        font-size: 14px;
        padding-left: 20px;
        background: url($img-path + "ico_btn_add_color.png") no-repeat center left / 15px;
        margin-top: 15px;
        margin-left: 10px;
    }
    .acc_item  {

        & + .acc_item {
            margin-top: 40px;
            border-top: 1px solid #dddddd;
        }

    }
    .add_wrap {
        text-align: center;
    }

    .lost_item_list {
        padding-left: 10px;
    }
    .accident_type{
        &.depth {
            .item_list {
                padding-left: 21px;
                .acc_item:first-child .part_title{
                    text-indent: -20px;
                    .num  {
                        text-indent: 0;
                    }
                }
            }
        }
        & + .accident_type{
            border-top: 8px solid #efeff4;
            margin-top: 40px;
            padding-top: 10px;
        }
    }
}


