.ct_claim_share{
    .part_title{
        font-size: 18px;
        padding: 40px 0 20px 0;
    }
    .btn_prev + .part_title {
        padding-top: 30px;
    }

    .mi_table td {
        padding: 8.5px 0;

        em {
            color: #999999;
            font-size: 13px;
            display: block;
            margin-top: -9px;
        }

        &:first-child {
            text-align: center;
        }
    }

    .mi_table tbody tr:first-child td {
        padding-top : 20px;
    }
    .mi_table tbody tr:last-child td{
        padding-bottom : 20px
    }
    .bottom_wrap {
        margin-top: 30px;
    }

    .app_ver {
        .input_box{
            position: relative;
            .mi_input {
                padding-right: 45px;
            }
            button {
                position: absolute;
                right: 10px;
                top: 11px;
                width: 35px;
                border-left: 1px solid #eee;
                height: 23px;
                background: url( $img-path + "ico_mobile.png") no-repeat right center / contain;
            }
        }
    }
}


