.ct_claim_bank_account{

    .input_group {
        padding: {
            left: 4px;
            right: 4px;
        }
    }

    .part_title {
        position: relative;
        color: #5c8cca;
        font-size: 17px;
        margin-bottom: 15px;
        margin-top: 30px;
        label {
            position: absolute;
            right: 0;
            top: 3px;
            .text {
                font-size: 15px;
                color: #777;
            }
        }
    }

    .btn_wrap {
        margin-top: 40px;
    }

    .holder_add {
        text-align : right;
        margin-top: 10px;
        padding-left: 20px;
        .box {
            display: inline-block;
            text-align: left;
            width: 100%;
            background: #f4f7fb;
            padding: 20px;
            .input_label {
                font-size: 13px;
            }

            & > p {
                margin-left: -5px;
                color: #de4343;
                font-size: 14px;
            }

            & > ul {
                margin-top: 6px;
                border-bottom: 1px solid #dddddd;
                padding-bottom: 17px;
                margin-bottom: 17px;
                li {
                    padding-left: 12px;
                    position: relative;
                    font-size: 13px;
                    &:after{
                        content: '-';
                        left: 0;
                        top:0;
                        position: absolute;
                    }
                }
            }
        }
    }

}


