.ct_claim_submit{
    .part_title {
        position: relative;
        color: #5c8cca;
        font-size: 17px;
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .btn_toggler {
        position: relative;
        &:after{
            content: "";
            width: 11px;
            height: 7px;
            position: absolute;
            right: 12px;
            top: 10px;
            background: url($img-path + "ico_toggle.png") no-repeat center / contain;
            transition: transform 0.3s ease;
            transform: rotate(0);
        }

        &.open:after {
            transform: rotate(180deg);
        }
    }
    .btn_wrap {
        margin-top: 40px;
    }

    .cmt {
        font-size: 20px;
        font-weight: bold;
        color: #5c8cca;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .noti_process {
        margin-bottom: 30px;
        font-size: 14px;
        li {
            padding-left: 18px;
            counter-increment: ord;
            position: relative;
            color: #1c1c1c;
            &:before {
                content: counter(ord) ".";
                position: absolute;
                left: 0;
            }
        }
    }

    .box {
        background: #f4f7fb;
        padding: 20px;
        border-radius: 6px;
        dl {
            display: table;
            width: 100%;

            & > dd,
            & > dt {
                display: table-cell;
                font-size: 14px;
                color: #333333;
            }

            dt {
                width: 103px;
                color: #777777;
            }

            & + dl {
                margin-top: 15px;
            }
        }
    }

    .file_list {
        & + .file_list {
            margin-top: 24px;
        }
        & > p {
            color: #1c1c1c;
            margin-bottom: 12px;
            font-size: 14px;
        }
        ul {
            padding-left: 10px;
        }
        li {
            position: relative;
            padding-left: 29px;
            &::after{
                content: '';
                position: absolute;
                left: 0;
                width: 17px;
                top: 5px;
                height: 16px;
                background: url($img-path + 'ico_file2.png') no-repeat center / contain;
            }

            &.done::after{
                background: url($img-path + 'ico_file_done2.png') no-repeat center / contain;
            }

            & + li {
                margin-top: 8px;
            }
        }
    }

    .file_submit {
        margin-top: 25px;
    }
    .btn_toggler {
        border-bottom: 1px solid #dddddd;
        font-size: 15px;
        font-weight: bold;
        color: #5c8cca;
        padding-bottom: 10px;

    }
    .togglee{
        display: none;
        padding: 20px 10px 0 10px;
        font-size: 14px;
    }




}


