.ct_claim_agreement{
    .part_title {
        position: relative;
        color: #5c8cca;
        font-size: 17px;
        margin-bottom: 15px;
        margin-top: 30px;

        .btn_reset {
            position: absolute;
            right: 0;
            color: #5c8cca;
            font-size: 14px;
            bottom: 0;
            padding-left: 20px;
            border-bottom: 1px solid #5c8cca;
            background: url($img-path + "btn_reset_on.png") no-repeat left center / 14px;
        }

        .btn_reset:disabled {
            color: #b6b6b6;
            border-bottom: 1px solid #b6b6b6;
            background: url($img-path + "btn_reset.png") no-repeat left center / 14px;
        }
    }

    .btn_wrap {
        margin-top: 20px;
    }

    #signaturePad {
        text-align: center;
        border: 1px solid #abc3e2;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 220px;
        #canvas1 {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right:0;
            width: 100%;
            z-index: 10;
        }
    }

    .img_placeholder {
        width: 100%;
        height: 220px;
        text-align: center;
        font-family: "Nanum Brush Script", cursive;
        font-weight: 400;
        font-size: 100px;
        color: #000000;
        opacity: 0.1;
        padding-top: 40px;
    }
}


