@charset "UTF-8";

.ct_confirm_info {
    &.modify {
        .header_tab,
        .contents_step {
            display: none;
        }

        .common_wrap.bg {
            padding-top: 30px
        }

        .page_title {
            display: block;
            margin-bottom: 18px;
        }
    }

    .common_wrap.bg {
        padding-top: 20px
    }

    .page_title {
        display: none;
    }

    .apply_info {
        .title {
            text-align: right;
            color: #999;

            @include media(sss) {
                flex-basis: 72px;
            }
        }
    }
}
