@charset "UTF-8";

.ct_mypage_detail {
    display: flex;
    flex-direction: column;

    &:not(.bg) {
        padding-bottom: 0 !important;
    }

    > .f__item {
        padding-bottom: $h-contents-padding-bottom;

        @at-root .app & {
            padding-bottom: $h-app-bottom-tab
        }
    }

    .apply_info {
        margin-top: 18px;
        padding-top: 20px;

        @include media(sss) {
            padding: {
                left: 10px;
                right: 10px;
            };
        }

        ul {
            padding: 30px 10px;
        }
    }

    .btn_cancel {
        margin-right: 6px;
    }

    .my_info {
        padding: 0 6px 30px;
        color: #666;
        line-height: 31px;

        @include media(sss) {
            padding: {
                left: 5px;
                right: 5px;
            };
        }



        .title {
            display: flex;
            align-items: flex-start;
            line-height: 24px;

            .t__underline {
                margin-top: 1px;
                margin-left: 12px;
                font-size: 15px;
            }
        }

        .t__underline {
            margin-left: 6px;
            color: $c-point;
        }
    }

    .period {

        margin-top: -6px;
        margin-bottom: 2px;

        button {
            line-height: 31px;
            vertical-align: bottom;
        }

        .btn_period {
            color: #1c1c1c;
            text-align: left;
            text-decoration: underline;
        }
    }

    .date {
        color: #333;

        .t__bg_line {
            @include text-bg-line(8px, #fdf2f2);
        }
    }

    .origin {
        margin-right: 4px;
        color: #b6b6b6;
        text-decoration: line-through;
    }

    .btn_wrap {
        margin-top: 20px;

        .t__underline {
            margin-top: 20px;
        }

        .btn_cert.t__underline {
            margin-top: 50px;
            color: #999;
        }
    }

    .account_info_wrap {
        margin: 20px 0 0
    }

    .account_info {
        margin: 0 0 10px;
        border: 1px solid $c-light_blue;
    }
}
