@charset "UTF-8";

.ct_mypage_login {
    .part_title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .form_cs {
        margin-bottom: 40px;
        .input_group + .part_q {
            margin-top: 40px;
        }
    }

    &.modify {
        .header_tab {
            display: none;
        }
    }
    .common_wrap {
        padding-top: 30px;
    }

    .input_group {
        margin-top: 20px;
        padding: {
            left: 10px;
            right: 10px;
        }
    }

    .modify {
        text-align: center;
        padding-top: 40px;
        button {
            text-decoration: underline;
            color: #999999;
        }
    }

    .email {
        .btn_wrap {
            padding-top: 10px;
        }
    }
}
