@charset "UTF-8";

.ct_noti {
    .noti_wrap {
        padding: {
            top: 30px;
            bottom: 30px;
        }
    }

    .noti_confirm {
        font-size: 16px;

        li:not(:first-child) {
            margin-top: 25px;
        }

        .check_group,
        .mi_input {
            margin-top: 12px;
        }

        .t__underline {
            color: $c-point;
        }

        .noti {
            @include set-font(14px, $c-red);
            margin-top: 8px;
        }
    }

    .noti_box {
        @include set-font(14px, $dark);
        display: flex;
        margin-top: 30px;
        padding: 20px 0;
        background: $c-bg-page;

        ul {
            flex: 1;
            padding: {
                left: 30px;
                right: 20px
            };
            border-right: 1px solid $c-border-default;

            li {
                text-indent: -10px;

                &:before {
                    content: '';
                    display: inline-block;
                    position: relative;
                    top: -4px;
                    width: 3px;
                    height: 3px;
                    margin-right: 7px;
                    background: #999;
                }

                & + li {
                    margin-top: 7px;
                }

                span {
                    color: #999
                }
            }
        }

        .mi_check {
            width: 66px;
            margin: auto;
            color: #333;
            text-align: center;

            .ico_circle {
                margin-bottom: 4px;
            }
        }
    }

    .companion_agree_wrap {
        display: none;
    }
}
