@charset "UTF-8";

.ct_refund {
    .common_wrap {
        padding-top: 30px;
    }

    .title {
        @include set-font(16px, $dark);
        margin-bottom: 15px;
        font-weight: bold;
    }

    .input_group {
        padding-left: 20px;

        .mi_btn {
            margin-left: 6px;
        }
    }

    .btn_wrap {
        margin-top: 40px;
    }
}
