@charset "UTF-8";

.ct_req_email {
    .wrap {
        background: #f8f8f8 !important;
    }


    background: #f8f8f8;
    .tit {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .add {
        font-size: 14px;
        color: #777;
        margin-bottom: 30px;
    }
    .mi_btn {
        margin-top: 10px;
    }
    #container {
        padding: 28px 20px;
    }
    .logo {
        margin-bottom: 80px;
    }
    &.desktop #container {
        min-height : 378px;
        position: absolute;
        padding: 70px;
        top: calc( 50% - 220px - 80px );
        left: calc( 50% - 240px );
        .mi_btn {
            margin-top: 20px;
        }
        .logo {
            position: absolute;
            top: -61px;
            left: 0;
        }
    }
}
