@charset "UTF-8";

.ct_traveler_info {
    #contents {
        padding-top: 30px;
    }
    .policy_wrap {
        padding-top: 0;
        .dp1_header {
            border-top: none;
        }
    }




    .cate_traveler {
        @include set-font(17px, $c-point);
        margin-bottom: 10px;
        font-weight: bold;

        span {
            font-size: 14px;
            font-weight: normal;
        }
    }

    .input_group {
        padding: 0 4px;
    }

    .el_companion {
        margin-top: 30px;

        .btn_area {
            margin-top: 40px;
        }

        .noti {
            @include set-font(14px, #999);
            margin-top: 20px;
        }
    }

    .card {
        position: relative;
        margin-top: 20px;
        padding-bottom: 30px;
        background: #f9f9f9;
        border: 1px solid $c-border-default;
        border-radius: 4px;

        &.active {
            border-color: $c-point;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        }

        .input_group {
            padding: 0 20px
        }
    }

    .card_name {
        padding: 16px 20px 12px;
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
        font-weight: bold;
        color: $dark
    }

    .btn_delete {
        position: absolute;
        top: 0;
        right: 0;
        width: 51px;
        height: 51px;
        @include add-ico(btn_delete, before, 15px, $withText: false);
    }

    .btn_add {
        @include btn-height(45px);
        display: block;
        margin: 25px auto 0;
        padding: 0 35px;
        border: 1px solid $c-border-default;
        border-radius: 23px;
        @include add-ico(btn_add, before, 13px);
    }

    .after_premium {
        margin-top: 40px;
    }

    .premium_info_wrap {
        padding: {
            top: 20px;
            bottom: 20px;
        };
        background: #e6e8f0;
    }

    .premium_info {
        @include set-font(16px, $dark);
        padding: 20px 15px 15px;
        background: $white;
        border-radius: 4px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

        .strong {
            font-size: 18px;
            font-weight: bold;
        }

        .mi_btn {
            margin-top: 20px;
            font-size: 15px;
        }
    }

    .companion_agree_wrap {
        margin-top: 15px;
    }

    .companion_agree {
        max-height: 125px;
        padding: 10px 26px;
        border: 1px solid #e2e2e2;
        border-radius: $default-border-radius;

        li {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;

            .companion_info {
                padding-top: 2px;
                line-height: 22px;
                word-break: break-all;
            }

            & + li {
                border-top: 1px solid $c-border-default;
            }
        }

        .mi_check {
            flex: 0 0 auto;
            margin-left: 20px;

            .text {
                @include set-font(14px, $default-font-color)
            }
        }
    }
}
