@charset "UTF-8";

@import "config/mixin";
@import "pdf/reset";
@import "pdf/helper";

.wrap {
    width: 850px;
    margin: 0 auto;
}

.layout_table {
    margin: 75px auto;
}

table{
    width: 100%;
}
.logo {
    height: 50px;
}
.doc_title {
    padding-top: 13px;
    padding-left:20px;
    padding-bottom:10px;
    background-image:url('/images/mail/bg_title.png');
    background-repeat:no-repeat;
    background-position:top left;
    background-size:850px auto;
    border-radius: 3px;
    font-size:18px;
    font-weight: 500;
    line-height: 27px;
    color:#ffffff;
}

.tb_cert {
    border-top: 2px solid #4d4d4d;

    th,
    td {
        height: 30px;
        border-bottom: 1px solid #e6e6e6;
        font-size: 13px;
        line-height: 18px;
        vertical-align: top;
    }

    th {
        padding: 8px 0;
        background-color: #f7f7f7;
        font-weight: bold;
        color: #333;
    }

    td {
        padding: 8px 20px;
        color: #555
    }

    .c__blue {
        td {
            color: $c-blue
        }
    }

    &.border_r {
        th,
        td {
            border-right: 1px solid #e6e6e6;
        }

        .border_r_0 {
            border-right: 0;
        }
    }
}

.desc {
    @include set-font(12px, #777);
    padding-left: 20px;
    line-height: 17px;

    li {
        & + li {
            margin-top: 3px;
        }
    }

    .bullet {
        @include text-indent(-13px);

        &:before {
            content: '\2022\0020\00A0\0020';
        }
    }
}

.section {
    margin-top: 30px;
}

.section_tit {
    @include set-font(17px, #1c1c1c);
    margin-bottom: 8px;
    font-weight: 900;
    line-height: 25px;

    img {
        display: block;
        float: left;
        margin: 8px 6px 0 5px;
    }
}

.info {
    .tb_cert {
        th {
            padding-left: 20px;
            text-align: left;
        }

        td {
            word-wrap: break-word;

            span {
                margin-right: 14px;
                font-size: 12px;
            }
        }
    }

    .desc {
        margin-top: 15px;
    }
}

.policy_no {
    @include set-font(13px, #333);
    margin-bottom: 5px;
    padding-right: 10px;
    line-height: 19px;
    text-align: right;
}

.coverage {
    .tb_cert {
        th {
            text-align: center;
        }
    }
    .dp1 {
        @include set-font(14px, #333);
        line-height: 20px;
    }
}

.signature {
    .img_wrap {
        height: 63px;
        margin-top: 10px;
    }

    img {
        float: right;
        display: block;
    }
}
